<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
</head>
<body>

	<div th:fragment="civilStatus-page">
<div class="container" >

		<h4 class="page-header" align="center">Seguidores por Estado Civil</h4>

		
		<div id="civilStatusLine" style="height: 150px"></div>
		

		<!-- Table -->
		<div class="table-responsive" style="height: 150px">
			<table class="table table-hover">
				<thead>
					<tr>
						<th>Estado Civil</th>
						<th>Hombres</th>
						<th>Mujeres</th>
						<th>Otros</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Casado</td>
						<td>55</td>
						<td>100</td>
						<td>3</td>
					</tr>
					<tr>
						<td>Soltero</td>
						<td>55</td>
						<td>100</td>
						<td>3</td>
					</tr>
				
					
				</tbody>
			</table>
			<!-- /.table-responsive -->
		</div>

</div>

	</div>

</body>
</html>