<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
</head>
<body>

	<div th:fragment="education-page" >
<div class="container" >

		<h4 class="page-header" align="center">Seguidores por Nivel Educativo</h4>

		
		<div id="educationLine" style="height: 150px"></div>
		

		<!-- Table -->
		<div class="table-responsive" style="height: 150px">
			<table class="table table-hover">
				<thead>
					<tr>
						<th>Información Academica</th>
						<th>Hombres</th>
						<th>Mujeres</th>
						<th>Otros</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Secundaria</td>
						<td>55</td>
						<td>4</td>
						<td>67</td>
					</tr>
					<tr>
						<td>Preparatoria</td>
						<td>55</td>
						<td>20</td>
						<td>4</td>
					</tr>
					<tr>
						<td>Universidad</td>
						<td>55</td>
						<td>100</td>
						<td>3</td>
					</tr>
					
				</tbody>
			</table>
			<!-- /.table-responsive -->
		</div>

</div>

	</div>

</body>
</html>