<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
</head>
<body>

	<div th:fragment="followersTopten-page" >
<div class="container" >

	<div class="panel-heading" >
		<h4 th:text="#{followers.topten}" ></h4>
	</div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            
                            <div id="followers-top-ten" style="height: 150px"></div>
                            
                        </div>
                        <!-- Table -->
                        	<div class="table-responsive" style="height: 150px">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th th:text="#{followers.totalReactionsMyPost}"></th>
                                            <th>108</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td th:text="#{followers.totalCommentsMyPost}"></td>
                                            <td>55</td>
                                        </tr>
                                        <tr>
                                            <td th:text="#{followers.totalSharesMyPost}"></td>
                                            <td>25</td>
                                        </tr>
                                    </tbody>
                                </table>
                		<!-- /.table-responsive -->                
                       	</div> 
                        
                        
                <!-- /.panel-body -->
</div>

	</div>

</body>
</html>