<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">

<title th:text="#{view.index.title}">Welcome!</title>

<link href="../../../resources/plugin-jvectormap/ammap/plugins/export/export.css" 
 		th:href="@{resources/plugin-jvectormap/ammap/plugins/export/export.css}"
 		rel="stylesheet" type="text/css" media="all" />
 		
 <link rel="stylesheet" href="../../../resources/plugin-jvectormap/ammap/ammap.css" 
 		th:href="@{resources/plugin-jvectormap/ammap/ammap.css}" type="text/css" media="all" />
	
<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

  <link href="../../../resources/css/akin.css" rel="stylesheet"
    	th:href="@{resources/css/akin.css}"> 
</head>


<body>
	<div th:replace="fragments/layout :: header"></div>
	<div th:replace="fragments/layout :: menu"></div>


	<div id="page-wrapper" class="gray-bg sidebar-content" >
		
		<div th:replace="fragments/layout :: title (title_page= #{followers.followers})"></div>
		
		<div th:replace="fragments/layout :: counts"></div>
	
		 
        <!-- INICIO DE SEGUIDORES -->
        <div class="row">
                    <div class="col-lg-12">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title form-inline">
                                <h5>Seguidores</h5>
                                &nbsp;
                                <span class = "fa fa-facebook-square fa-2x" style="color: #3b5998;"></span>
                                <div class="pull-right">
                                <div class="input-group date" >
                                	  	<select class="form-control selectpicker input-sm" >
											  <option>2016</option>
											  <option selected>2017</option>
											</select>
										   <select id="selMeses" class="form-control selectpicker input-sm" >
											  <option>Enero</option>
											  <option>Febrero</option>
											  <option>Marzo</option>
											  <option>Abril</option>
											  <option>Mayo</option>
											  <option>Junio</option>
											  <option selected>Julio</option>
											  <option>Agosto</option>
											  <option>Septiembre</option>
											  <option>Octubre</option>
											  <option>Noviembre</option>
											  <option>Diciembre</option>
											</select>

										</div>
                                    <div class="btn-group">
                                        <button id="btnMensual" type="button" class="btn btn-xs btn-white active">Mensual</button>
                                        <button id="btnTrimestral" type="button" class="btn btn-xs btn-white">Trimestral</button>
                                        <button id="btnSemestral" type="button" class="btn btn-xs btn-white">Semestral</button>
                                    </div>
                                </div>
                            </div>
                            <div class="ibox-content tab-pane-scroll">
                                <div class="row">
                                <div class="ibox float-e-margins">
                                    <div class="ibox-title">
                                        <h5>Seguidores Ganados y Perdidos</h5>
                                        &nbsp;
                                    </div>
	                                <div class="col-lg-9">
	                                    <div>
			                                <canvas id="lineChart" height="80px"></canvas>
			                            </div>
	                                </div>
                             
                             		<div class="col-lg-3" >
                                    <ul class="stat-list">
                                        <li>
                                        
                                            <h3 class="no-margins" th:text="#{demo.cuenta1}">
	                                            <small class="label label-gray">&nbsp;</small>
	                                        </h3>
                                            <small>Ganados</small>
                                            <div id="percCuenta1_a" class="stat-percent font-bold">48% <i class="fa fa-level-up text-navy"></i></div>
                                            <div class="progress progress-mini">
                                                <div id="percCuenta1_numa" style="width: 48%;" class="progress-bar label-blue"></div>
                                            </div>
                                        </li>
                                        <li>
                                            <h3 class="no-margins " th:text="#{demo.cuenta2}">
	                                            <small class="label label-primary" >&nbsp;</small>
	                                        </h3>
                                            <small>Ganados</small>
                                            <div id="percCuenta2_a" class="stat-percent font-bold">60% <i class="fa fa-level-up text-navy"></i></div>
                                            <div class="progress progress-mini">
                                                <div id="percCuenta2_numa" style="width: 60%;" class="progress-bar label-primary"></div>
                                            </div>
                                            
                                        </li>
                                        <li>
                                            <h3 class="no-margins " th:text="#{demo.cuenta3}">
	                                            <small class="label label-purple">&nbsp;</small>
	                                        </h3>
                                            <small>Ganados</small>
                                            <div id="percCuenta3_a" class="stat-percent font-bold">40% <i class="fa fa-level-up text-navy"></i></div>
                                            <div class="progress progress-mini">
                                                <div id="percCuenta3_numa" style="width: 40%;" class="progress-bar label-purple"></div>
                                            </div>
                                            
                                        </li>
                                        </ul>
                                    </div>
                                </div>
                                </div>
                                
				<!-- INICIO DATOS GEOGRAFICOS -->
                <div class="row">
                   

                    <div class="col-lg-12">

                        <div class="row">
                            <div class="col-lg-12">
                                <div class="ibox float-e-margins">
                                    <div class="ibox-title">
                                        <h5>Geolocalización de Seguidores</h5>
                                        &nbsp;
                                        <div class="ibox-tools">
                                            <a class="collapse-link">
                                                <i class="fa fa-chevron-up"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="ibox-content">

                                        <div class="row">
                                            <div class="col-lg-6" >
                                                <table class="table table-hover margin bottom" style="height: 300px;">
                                                    <thead>
                                                    <tr>
                                                        <th style="width: 1%" class="text-center">No.</th>
                                                        <th>Estado</th>
                                                        <th class="text-center" th:text="#{demo.cuenta1}"></th>
                                                        <th class="text-center" th:text="#{demo.cuenta2}"></th>
                                                        <th class="text-center" th:text="#{demo.cuenta3}"></th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr>
                                                        <td class="text-center">1</td>
                                                        <td> Queretaro
                                                            </td>
                                                        <td id="que1" class="text-center small">85</td>
                                                        <td id="que2" class="text-center small">45</td>
                                                        <td id="que3" class="text-center small">60</td>

                                                    </tr>
                                                    <tr>
                                                        <td class="text-center">2</td>
                                                        <td> Veracruz
                                                        </td>
                                                        <td id="ver1" class="text-center small">50</td>
                                                        <td id="ver2" class="text-center small">18</td>
                                                        <td id="ver2" class="text-center small">25</td>

                                                    </tr>
                                                    <tr>
                                                        <td class="text-center">3</td>
                                                        <td> Hidalgo
                                                        </td>
                                                        <td id="hid1" class="text-center small">34</td>
                                                        <td id="hid2" class="text-center small">21</td>
                                                        <td id="hid3" class="text-center small">15</td>

                                                    </tr>
                                                    <tr>
                                                        <td class="text-center">4</td>
                                                        <td> Chihuahua
                                                            </td>
                                                        <td id="chi1" class="text-center small">85</td>
                                                        <td id="chi2" class="text-center small">45</td>
                                                        <td id="chi3" class="text-center small">60</td>

                                                    </tr>
                                                    <tr>
                                                        <td class="text-center">5</td>
                                                        <td> Colima
                                                        </td>
                                                        <td id="col1" class="text-center small">50</td>
                                                        <td id="col2" class="text-center small">18</td>
                                                        <td id="col3" class="text-center small">25</td>

                                                    </tr>
                                                    <tr>
                                                        <td class="text-center">6</td>
                                                        <td> Coahuila
                                                        </td>
                                                        <td id="coa1" class="text-center small">34</td>
                                                        <td id="coa2" class="text-center small">21</td>
                                                        <td id="coa3" class="text-center small">15</td>

                                                    </tr>
                                                    <tr>
                                                        <td class="text-center">7</td>
                                                        <td> Chiapas
                                                            </td>
                                                        <td id="chip1" class="text-center small">85</td>
                                                        <td id="chip2" class="text-center small">45</td>
                                                        <td id="chip3" class="text-center small">60</td>

                                                    </tr>
                                                    <tr>
                                                        <td class="text-center">8</td>
                                                        <td> Michoacan
                                                        </td>
                                                        <td id="mich1" class="text-center small">50</td>
                                                        <td id="mich2" class="text-center small">18</td>
                                                        <td id="mich3" class="text-center small">25</td>

                                                    </tr>
                                                    <tr>
                                                        <td class="text-center">9</td>
                                                        <td> Jalisco
                                                        </td>
                                                        <td id="jal1" class="text-center small">34</td>
                                                        <td id="jal2" class="text-center small">21</td>
                                                        <td id="jal3" class="text-center small">15</td>

                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                             <div class="col-lg-6">
                                             	<div id="legenddiv"></div>
                                                <div id="mapdiv" style="height: 300px;"></div>
                                            </div>
                                            
                                    </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <!-- FIN DATOS GEOGRAFICOS -->
                
               <!-- INICIO DATOS DEMOGRAFICOS -->
                
                <div class="row">
                   
                    <div class="col-lg-12">

                        <div class="row">
                            <div class="col-lg-12" >
                                <div class="ibox float-e-margins">
                                    <div class="ibox-title">
                                        <h5>Datos Demógraficos de Seguidores</h5>
                                        &nbsp;
                                		
                                        <div class="ibox-tools">
                                            <a class="collapse-link">
                                                <i class="fa fa-chevron-up"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="ibox-content" >
										<!-- INICIO RESUMEN DE DATOS DEMO-->
                                        <div class="row" >
                                        
						                    <div class="col-lg-9">
                                                <div class="ibox-content">
                                                	<div id="demo-legend" class="chart-legend" align="left" style="display: inline;"></div>
					                               	<canvas id="barChart" height="80"></canvas>
					                        	</div>
                                            </div>
					                  		<div class="col-lg-3">
                                    <ul class="stat-list">
                                        <li>
                                            <h3 class="no-margins" th:text="#{demo.cuenta1}"></h3>
                                            
                                            <small>Hombres</small>
                                            <div id="percCuenta1_h" class="stat-percent font-bold">48% <i class="fa fa-level-up text-navy"></i></div>
                                            <div class="progress progress-mini">
                                                <div id="percCuenta1_numh" style="width: 48%;" class="progress-bar label-blue"></div>
                                            </div>
                                            
                                            <small>Mujeres</small>
                                            <div id="percCuenta1_m" class="stat-percent font-bold">5% <i class="fa fa-level-down text-navy text-warning"></i></div>
                                            <div class="progress progress-mini">
                                                <div id="percCuenta1_numm" style="width: 5%;" class="progress-bar"></div>
                                            </div>
                                            
                                            <small>Otros</small>
                                            <div id="percCuenta1_o" class="stat-percent font-bold">5% <i class="fa fa-level-down text-navy text-warning"></i></div>
                                            <div class="progress progress-mini">
                                                <div id="percCuenta1_numo" style="width: 5%;" class="progress-bar label-purple"></div>
                                            </div>
                                            
                                        </li>
                                        <li>
                                            <h3 class="no-margins" th:text="#{demo.cuenta2}"></h3>
                                            
                                            <small>Hombres</small>
                                            <div id="percCuenta2_h" class="stat-percent font-bold">60% <i class="fa fa-level-up text-navy"></i></div>
                                            <div class="progress progress-mini">
                                                <div id="percCuenta2_numh" style="width: 60%;" class="progress-bar label-blue"></div>
                                            </div>
                                            
                                             <small>Mujeres</small>
                                            <div id="percCuenta2_m"  class="stat-percent font-bold">10% <i class="fa fa-level-down text-navy text-warning"></i></div>
                                            <div class="progress progress-mini">
                                                <div id="percCuenta2_numm" style="width: 10%;" class="progress-bar"></div>
                                            </div>
                                             
                                             <small>Otros</small>
                                            <div id="percCuenta2_o"  class="stat-percent font-bold">5% <i class="fa fa-level-down text-navy text-warning"></i></div>
                                            <div class="progress progress-mini">
                                                <div id="percCuenta2_numo" style="width: 5%;" class="progress-bar label-purple"></div>
                                            </div>
                                        </li>
                                        <li>
                                            <h3 class="no-margins" th:text="#{demo.cuenta3}"></h3>
                                            
                                            <small>Hombres</small>
                                            <div id="percCuenta3_h" class="stat-percent font-bold">40% <i class="fa fa-level-up text-navy"></i></div>
                                            <div class="progress progress-mini">
                                                <div id="percCuenta3_numh" style="width: 40%;" class="progress-bar label-blue"></div>
                                            </div>
                                            
                                             <small>Mujeres</small>
                                            <div id="percCuenta3_m" class="stat-percent font-bold">7% <i class="fa fa-level-down text-navy text-warning"></i></div>
                                            <div class="progress progress-mini">
                                                <div id="percCuenta3_numm" style="width: 7%;" class="progress-bar"></div>
                                            </div>
                                             
                                             <small>Otros</small>
                                            <div id="percCuenta3_o" class="stat-percent font-bold">5% <i class="fa fa-level-down text-navy text-warning"></i></div>
                                            <div class="progress progress-mini">
                                                <div id="percCuenta3_numo" style="width: 5%;" class="progress-bar label-purple"></div>
                                            </div>
                                        </li>
                                        </ul>
                                    </div>
                                        </div>
                                        <!-- FIN RESUMEN DE DATOS DEMO-->	
                                        
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                
                <!-- FIN DATOS DEMOGAFICOS -->
                            </div>

                            </div>
                        </div>
                    </div>

	

	<!-- /. page-wrapper -->
	</div>
	
	<div th:replace="fragments/layout :: footer"></div>

	<!-- jQuery -->
	
	<div th:replace="fragments/layout :: script-general"></div>

		<script src="resources/plugin-jvectormap/ammap/ammap.js" type="text/javascript"
			th:href="@{/resources/plugin-jvectormap/ammap/ammap.js}"></script>

		<script src="resources/plugin-jvectormap/ammap/plugins/export/export.min.js" type="text/javascript"
		th:href="@{/resources/plugin-jvectormap/ammap/plugins/export/export.min.js}"></script>

		<script src="resources/plugin-jvectormap/ammap/themes/dark.js" type="text/javascript"
		th:href="@{/resources/plugin-jvectormap/ammap/themes/dark.js}"></script>

		<script src="resources/plugin-jvectormap/ammap/maps/js/mexicoLow.js" type="text/javascript"
		th:href="@{/resources/plugin-jvectormap/ammap/maps/js/mexicoLow.js}" ></script>

	<!-- Followers Data -->
	<script src="resources/js/data/followers-data.js"
    		th:href="@{/resources/js/data/followers-data.js}"></script>
	
	
</body>

</html>
