<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">
</head>

<body>
	<div th:replace="fragments/layout :: header"></div>
	<div th:replace="fragments/layout :: menu"></div>


	<div id="page-wrapper" class="gray-bg sidebar-content" >
		<div th:replace="fragments/layout :: title (title_page= #{followers.topten})"></div>
		<div th:replace="fragments/layout :: counts"></div>
		
		 <!-- INICIO DE TOPTEN SEGUIDORES -->
        <div class="row">
                    <div class="col-lg-12">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title form-inline">
                                <h5>Top de Seguidores</h5>
                                &nbsp;
                                <span class = "fa fa-facebook-square fa-2x" style="color: #3b5998;"></span>
                                <div class="pull-right">
                                <div class="input-group date" >
                                	  	<select class="form-control selectpicker input-sm" style="width:auto;">
											  <option>2016</option>
											  <option selected>2017</option>
											</select>
										   <select id="selMeses" class="form-control selectpicker input-sm" style="width:auto;">
											  <option>Enero</option>
											  <option>Febrero</option>
											  <option>Marzo</option>
											  <option>Abril</option>
											  <option>Mayo</option>
											  <option>Junio</option>
											  <option selected>Julio</option>
											  <option>Agosto</option>
											  <option>Septiembre</option>
											  <option>Octubre</option>
											  <option>Noviembre</option>
											  <option>Diciembre</option>
											</select>

										</div>
                                    <div class="btn-group">
                                        <button id="btnTopMensual" type="button" class="btn btn-xs btn-white active">Mensual</button>
                                        <button id="btnTopTrimestral" type="button" class="btn btn-xs btn-white">Trimestral</button>
                                        <button id="btnTopSemestral" type="button" class="btn btn-xs btn-white">Semestral</button>
                                    </div>
                                </div>
                            </div>
                            <div class="ibox-content tab-pane-scroll">
                                <div class="row">
	                                <div class="col-lg-9">
	                                    <div>
	                                   		 <div id="toptenlegend" class="chart-legend"></div>
			                                <canvas id="barChartTopTen" height="80px" ></canvas>
			                              <!--   -->
			                            </div>
	                                </div>
                             
                             		<div class="col-lg-3">
                                    <ul class="stat-list">
                                        <li>
                                            <h3 class="no-margins" th:text="#{demo.cuenta1}"></h3>
                                            
                                            <small>Comportamiento Positivo</small>
                                            <div id="percCuenta1_a" class="stat-percent font-bold">48% <i class="fa fa-level-up text-navy"></i></div>
                                            <div class="progress progress-mini">
                                                <div id="percCuenta1_numa" style="width: 48%;" class="progress-bar label-blue"></div>
                                            </div>
                                            
                                            <small>Comportamiento Negativo</small>
                                            <div id="percCuenta1_b" class="stat-percent font-bold">5% <i class="fa fa-level-down text-navy text-warning"></i></div>
                                            <div class="progress progress-mini">
                                                <div id="percCuenta1_numb" style="width: 5%;" class="progress-bar label-blue"></div>
                                            </div>
                                            
                                        </li>
                                        <li>
                                            <h3 class="no-margins " th:text="#{demo.cuenta2}"></h3>
                                            
                                            <small>Comportamiento Positivo</small>
                                            <div id="percCuenta2_a" class="stat-percent font-bold">60% <i class="fa fa-level-up text-navy"></i></div>
                                            <div class="progress progress-mini">
                                                <div id="percCuenta2_numa" style="width: 60%;" class="progress-bar"></div>
                                            </div>
                                            
                                             <small>Comportamiento Negativo</small>
                                            <div id="percCuenta2_b" class="stat-percent font-bold">10% <i class="fa fa-level-down text-navy text-warning"></i></div>
                                            <div class="progress progress-mini">
                                                <div id="percCuenta2_numb" style="width: 10%;" class="progress-bar"></div>
                                            </div>
                                             
                                        </li>
                                        <li>
                                            <h3 class="no-margins " th:text="#{demo.cuenta3}"></h3>
                                            
                                            <small>Comportamiento Positivo</small>
                                            <div id="percCuenta3_a" class="stat-percent font-bold">40% <i class="fa fa-level-up text-navy"></i></div>
                                            <div class="progress progress-mini">
                                                <div id="percCuenta3_numa"  style="width: 40%;" class="progress-bar label-purple"></div>
                                            </div>
                                            
                                             <small>Comportamiento Negativo</small>
                                            <div id="percCuenta3_b" class="stat-percent font-bold">7% <i class="fa fa-level-down text-navy text-warning"></i></div>
                                            <div class="progress progress-mini">
                                                <div id="percCuenta3_numb" style="width: 7%;" class="progress-bar label-purple"></div>
                                            </div>
                                             
                                        </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            </div>
                        </div>
                    </div>
		
	</div>
	<div th:replace="fragments/layout :: footer"></div>
	<div th:replace="fragments/layout :: script-general"></div>
	<script src="resources/js/data/followersTopten-data.js" type="text/javascript"
			th:href="@{/resources/js/data/followersTopten-data.js}"></script>
</body>
</html>