<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">

<title th:text="#{view.index.title}">Welcome!</title>

<!-- Bootstrap Core CSS -->
<link
	href="../../../resources/plugin/vendor/bootstrap/css/bootstrap.min.css"
	th:href="@{resources/plugin/vendor/bootstrap/css/bootstrap.min.css}"
	rel="stylesheet">

<!-- MetisMenu CSS -->
<link
	href="../../../resources/plugin/vendor/metisMenu/metisMenu.min.css"
	th:href="@{resources/plugin/vendor/metisMenu/metisMenu.min.css}"
	rel="stylesheet">

<!-- Menu Css -->
<link href="../../../resources/css/menu.css" rel="stylesheet"
	media="screen" th:href="@{/resources/css/menu.css}" />
	
<!-- Slider -->
	
<link href="../../../resources/css/jquery-ui.css" rel="stylesheet"
	media="screen" th:href="@{/resources/css/jquery-ui.css}" />	

	
<link href="../../../resources/css/jquery-ui-slider-pips.css" rel="stylesheet"
	media="screen" th:href="@{/resources/css/jquery-ui-slider-pips.css}" />		

<!-- Efects counts Css -->
<link href="../../../resources/css/effects.css" rel="stylesheet"
	media="screen" th:href="@{/resources/css/effects.css}" />

<!-- Custom CSS -->
<link href="../../../resources/plugin/dist/css/sb-admin-2.css"
	th:href="@{resources/plugin/dist/css/sb-admin-2.css}" rel="stylesheet">

<!-- Morris Charts CSS -->
<link href="../../../resources/plugin/vendor/morrisjs/morris.css"
	th:href="@{resources/plugin/vendor/morrisjs/morris.css}"
	rel="stylesheet">

<!-- Custom Fonts -->
<link
	href="../../../resources/plugin/vendor/font-awesome/css/font-awesome.min.css"
	th:href="@{resources/plugin/vendor/font-awesome/css/font-awesome.min.css}"
	rel="stylesheet" type="text/css">
	
<!-- amchart resources -->
<link href="../../../resources/plugin-jvectormap/ammap/plugins/export/export.css" 
		th:href="@{resources/plugin-jvectormap/ammap/plugins/export/export.css}"
		rel="stylesheet" type="text/css" media="all" />
		
<link rel="stylesheet" href="../../../resources/plugin-jvectormap/ammap/ammap.css" 
		th:href="@{resources/plugin-jvectormap/ammap/ammap.css}" type="text/css" media="all" />
		
<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
<body>
	<div th:replace="fragments/layout :: header"></div>
	<div th:replace="fragments/layout :: menu"></div>


	<div id="page-wrapper">
		<div class="row">
			<div th:replace="fragments/layout :: counts"></div>
		</div>

		<div class="row">
			<div class="col-lg-12">
				<h1 class="page-header" th:text="#{followers.followers}"></h1>
			</div>
		</div>
		
		<div class="row">
			 <div class="col-lg-6">
			 
			 	<div class="panel panel-default">
                        <div class="panel-heading" th:text="#{followers.totalFollowers}"></div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <!-- grafica -->
                            <div id="followers-bar-chart"></div>
                        </div>
                        	<!-- Table -->
                        	<div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th th:text="#{followers.totalFollowers}"></th>
                                            <th>715700</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td th:text="#{followers.new}"></td>
                                            <td>10000</td>
                                        </tr>
                                        <tr>
                                            <td th:text="#{followers.leave}"></td>
                                            <td>9000</td>
                                        </tr>
                                    </tbody>
                                </table>
                		<!-- /.table-responsive -->                
                       	</div> 
                <!-- /.panel-body -->
                </div>
                <!-- /. column -->
             </div>  
             <div class="col-lg-6">
			 
			 	<div class="panel panel-default">
                        <div class="panel-heading" th:text="#{followers.topten}"></div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            
                            <div id="followers-top-ten"></div>
                            
                        </div>
                        <!-- Table -->
                        	<div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th th:text="#{followers.totalReactionsMyPost}"></th>
                                            <th>108</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td th:text="#{followers.totalCommentsMyPost}"></td>
                                            <td>55</td>
                                        </tr>
                                        <tr>
                                            <td th:text="#{followers.totalSharesMyPost}"></td>
                                            <td>25</td>
                                        </tr>
                                    </tbody>
                                </table>
                		<!-- /.table-responsive -->                
                       	</div> 
                        
                        
                <!-- /.panel-body -->
                </div>
                <!-- /. column -->
             </div>  
             
        <!-- /. row -->     
		</div>
		
		<div class="row">
			 <div class="col-lg-6">
			 
			 	<div class="panel panel-default">
                        <div class="panel-heading" th:text="#{followers.geographicLocation}"></div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <!-- Mapa -->
                            <div id="mapdiv" style="width: 600px; height: 350px; ">  </div>
                        </div>
                        	<!-- Table -->
                        	<div >
                                <table class="table table-hover" >
                                    <thead>
                                        <tr>
                                            <th th:text="#{followers.states}"></th>
                                            <th th:text="#{followers.followers}"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td th:text="#{followers.queretaro}"></td>
                                            <td>10000</td>
                                        </tr>
                                        <tr>
                                            <td th:text="#{followers.hidalgo}"></td>
                                            <td>9000</td>
                                        </tr>
                                         <tr>
                                            <td th:text="#{followers.zacatecas}"></td>
                                            <td>900</td>
                                        </tr>
                                         <tr>
                                            <td th:text="#{followers.durango}"></td>
                                            <td>2000</td>
                                        </tr>
                                         <tr>
                                            <td th:text="#{followers.veracruz}"></td>
                                            <td>1000</td>
                                        </tr>
                                        <tr>
                                            <td th:text="#{followers.chiapas}"></td>
                                            <td>800</td>
                                        </tr>
                                    </tbody>
                                </table>
                		<!-- /.table-responsive -->                
                       	</div> 
                <!-- /.panel-body -->
                </div>
                <!-- /. column -->
             </div>
        	
        	<!-- Datos demograficos de los seguidores -->
        	<div class="col-lg-6">
			 
			 	<div class="panel panel-default">
                    <div class="panel-heading" th:text="#{followers.demographicDatas}"></div>
                        <!-- /.panel-heading -->
                        <!-- -->
                        
                     <div class="tabs-below panel-body" >
			 	
			 		 	<div class="tab-content" >
         					<div class="tab-pane fade in active" id="education-tab"  >
         						<div th:insert="followers/educationLevel :: education-page"></div>
         					</div>
         					<div class="tab-pane fade" id="occupation-tab">
         						<div th:insert="followers/occupation :: occupation-page"></div>
         					</div>
         					<div class="tab-pane fade" id="civilStatus-tab">
         						<div th:insert="followers/civilStatus :: civilStatus-page"></div>
         					</div>
         					<div class="tab-pane" id="religion-tab">
         						<div th:insert="followers/religion :: religion-page"></div>
         					</div>
         					<div class="tab-pane fade" id="political-tab">
         						<div th:insert="followers/politicalPreferences :: political-page"></div>
         					</div>
        				</div>
        			
        				<ul class="nav nav-tabs">
          					<li>
          						<a href="#education-tab" data-toggle="tab" data-placement="bottom" title="Información Académica" >
          							<span style="color: black;" class="glyphicon glyphicon-education glyphicon-align-center fa-3x"></span>          						
          						</a>
          					</li>
          					<li>
          						<a href="#occupation-tab" data-toggle="tab" data-placement="bottom" title="Empleo">
          							<span style="color: black;" class="fa fa-user-md fa-align-center fa-3x"></span>
          						</a>
          					</li>
          					<li>
          						<a href="#civilStatus-tab" data-toggle="tab" data-placement="bottom" title="Estado Civil">
          							<span style="color: black;" class="	fa fa-heart fa-3x"></span>
          						</a>
          					</li>
          					<li>
          						<a href="#religion-tab" data-toggle="tab" data-placement="bottom" title="Creencias Religiosas">
          							<span style="color: black;" class="glyphicon glyphicon-king glyphicon-align-center fa-3x"></span>
          						</a>
          					</li>
          					<li>
          						<a href="#political-tab" data-toggle="tab" data-placement="bottom" title="Ideologías Politicas">
          							<span style="color: black;" class="fa fa-black-tie fa-align-center fa-3x"></span>
          						</a>
          					</li>
        				</ul>
        			
      				</div>
                        
                <!-- /.panel-body -->
                </div>
                <!-- /. column -->
             </div>  
             <!-- Fin datos demograficos -->
        </div>

	<!-- /. page-wrapper -->
	</div>
	





	<div th:replace="fragments/layout :: footer"></div>




	<!-- jQuery -->

	<script src="resources/plugin/vendor/jquery/jquery.min.js"
		th:href="@{/resources/plugin/vendor/jquery/jquery.min.js}"></script>


		
		<script src="resources/plugin-jvectormap/ammap/ammap.js" type="text/javascript"
			th:href="@{/resources/plugin-jvectormap/ammap/ammap.js}"></script>

		<script src="resources/plugin-jvectormap/ammap/plugins/export/export.min.js" type="text/javascript"
		th:href="@{/resources/plugin-jvectormap/ammap/plugins/export/export.min.js}"></script>

		<script src="resources/plugin-jvectormap/ammap/themes/dark.js" type="text/javascript"
		th:href="@{/resources/plugin-jvectormap/ammap/themes/dark.js}"></script>
		<!-- Countries Map -->
		<script src="resources/plugin/data/ammap-countries-data.js" type="text/javascript"
		th:href="@{/resources/plugin/data/ammap-countries-data.js}"></script>

		<script src="resources/plugin-jvectormap/ammap/maps/js/mexicoLow.js" type="text/javascript"
		th:href="@{/resources/plugin-jvectormap/ammap/maps/js/mexicoLow.js}" ></script>
		
	<!-- Bootstrap Core JavaScript -->
	<script src="resources/plugin/vendor/bootstrap/js/bootstrap.min.js"
		th:href="@{/resources/plugin/vendor/bootstrap/js/bootstrap.min.js}"></script>

	<!-- Metis Menu Plugin JavaScript -->
	<script src="resources/plugin/vendor/metisMenu/metisMenu.min.js"
		th:href="@{/resources/plugin/vendor/metisMenu/metisMenu.min.js}"></script>

	<!-- Morris Charts JavaScript -->
	<script src="resources/plugin/vendor/raphael/raphael.min.js"
		th:href="@{/resources/plugin/vendor/raphael/raphael.min.js}"></script>
	<script src="resources/plugin/vendor/morrisjs/morris.min.js"
		th:href="@{/resources/plugin/vendor/morrisjs/morris.min.js}"></script>
	<script src="resources/plugin/data/morris-data.js"
		th:href="@{/resources/plugin/data/morris-data.js}"></script>
	
	
	<script src="resources/plugin/data/demographic-data.js"
		th:href="@{/resources/plugin/data/demographic-data.js}"></script>
		 
	<script
		src="resources/plugin/data/followers-data.js"
		th:href="@{/resources/plugin/data/followers-data.js}"></script>

	<!-- Custom Theme JavaScript -->
	<script src="resources/plugin/dist/js/sb-admin-2.js"
		th:href="@{/resources/plugin/dist/js/sb-admin-2.js}"></script>
		
	<!-- slider js --> 
	
	<script
		src="resources/js/jquery-ui.js"
		th:href="@{/resources/js/jquery-ui.js}"></script>

	<script
		src="resources/js/jquery-ui-slider-pips.js"
		th:href="@{/resources/js/jquery-ui-slider-pips.js}"></script>	
		

	<!-- effects panel -->
	<script src="resources/js/effects.js"
		th:href="@{/resources/js/effects.js}"></script>



</body>

</html>
