<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
</head>
<body>

	<div th:fragment="followersGeographic-page" >
<div class="container" >
		<div class="panel-heading"  align="center">
			<h4 th:text="#{followers.geographicLocation}" ></h4>
		</div>
                        <!-- /.panel-heading -->
                        <div class="panel-body" style="height: 250px">
                            <!-- Mapa -->
                            <div id="mapdiv" style="width: 500px; height: 250px; ">  </div>
                        </div>
                        	<!-- Table -->
                        	<div class="table-responsive" style="height: 150px">
                                <table class="table table-hover" >
                                    <thead>
                                        <tr>
                                            <th th:text="#{followers.states}"></th>
                                            <th th:text="#{followers.followers}"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td th:text="#{followers.queretaro}"></td>
                                            <td>10000</td>
                                        </tr>
                                        <tr>
                                            <td th:text="#{followers.hidalgo}"></td>
                                            <td>9000</td>
                                        </tr>
                                         <tr>
                                            <td th:text="#{followers.zacatecas}"></td>
                                            <td>900</td>
                                        </tr>
                                         <tr>
                                            <td th:text="#{followers.durango}"></td>
                                            <td>2000</td>
                                        </tr>
                                         <tr>
                                            <td th:text="#{followers.veracruz}"></td>
                                            <td>1000</td>
                                        </tr>
                                        <tr>
                                            <td th:text="#{followers.chiapas}"></td>
                                            <td>800</td>
                                        </tr>
                                    </tbody>
                                </table>
                		<!-- /.table-responsive -->                
                       	</div> 
                <!-- /.panel-body -->
		

</div>

	</div>

</body>
</html>