<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">
 <link href="../../../resources/css/akin.css" rel="stylesheet"
    	th:href="@{resources/css/akin.css}"> 
</head>

<body>
	<div th:replace="fragments/layout :: header"></div>
	<div th:replace="fragments/layout :: menu"></div>


	<div id="page-wrapper" class="gray-bg sidebar-content" >
		<div th:replace="fragments/layout :: title (title_page= #{followers.topten})"></div>
		<div th:replace="fragments/layout :: counts"></div>
		
		 <!-- INICIO DE TOPTEN SEGUIDORES -->
        <div class="row">
                    <div class="col-lg-12">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title form-inline">
                                <h5 th:text="#{followers.topten}"></h5>
                                &nbsp;
                                <span class = "fa fa-facebook-square fa-2x" style="color: #3b5998;"></span>
                                <div class="pull-right">
                                <div class="input-group date" >
                                	  	<select class="form-control selectpicker input-sm" >
											  
											  <option selected th:text="#{general.anio2}"></option>
											</select>
										   <select id="selMeses" class="form-control selectpicker input-sm" >
											  <option selected th:text="#{general.january}"></option>
											</select>

										</div>
                                    <div class="btn-group">
                                        <button id="btnTopMensual" type="button" class="btn btn-xs btn-white active" th:text="#{general.montly}"></button>
                                        <button id="btnTopTrimestral" type="button" class="btn btn-xs btn-white" th:text="#{general.trimester}"></button>
                                        <button id="btnTopSemestral" type="button" class="btn btn-xs btn-white" th:text="#{general.semester}"></button>
                                    </div>
                                </div>
                            </div>
                            <div class="ibox-content tab-pane-scroll">
                                <div class="row">
	                                <div class="col-lg-12">
                                    		<!--
	                                   		 <div id="toptenlegend" class="chart-legend"></div>
	                                   		 -->
			                                <canvas id="barChartTopTenAccount1" height="80px" ></canvas>
			                                &nbsp;
			                                <canvas id="barChartTopTenAccount2" height="80px" ></canvas>
			                                &nbsp;
			                                <canvas id="barChartTopTenAccount3" height="80px" ></canvas>
			                                 

	                                </div>
                             
                                </div>
                            </div>

                            </div>
                        </div>
                    </div>
		
	</div>
	<div th:replace="fragments/layout :: footer"></div>
	<div th:replace="fragments/layout :: script-general"></div>
	<script src="resources/js/data/followersTopten-data.js" type="text/javascript"
			th:href="@{/resources/js/data/followersTopten-data.js}"></script>
</body>
</html>