<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">

</head>
<body>

	<div th:fragment="followersTotal-page" >
<div class="container"  >

		           <div class="panel-heading" > 
		           		<h4 th:text="#{followers.totalFollowers}" ></h4>
		           	</div>
                        <!-- /.panel-heading -->
                        <div class="panel-body" >
                            <!-- grafica -->
                            <div id="followers-bar-chart" style="height: 150px"></div>
                        </div>
                        	<!-- Table -->
                        	<div class="table-responsive" style="height: 150px">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th th:text="#{followers.totalFollowers}"></th>
                                            <th>715700</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td th:text="#{followers.new}"></td>
                                            <td>10000</td>
                                        </tr>
                                        <tr>
                                            <td th:text="#{followers.leave}"></td>
                                            <td>9000</td>
                                        </tr>
                                    </tbody>
                                </table>
                		<!-- /.table-responsive -->                
                       	</div> 
</div>

	</div>

</body>
</html>