<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">

 <link href="../../../resources/css/akin.css" rel="stylesheet"
    	th:href="@{resources/css/akin.css}"> 
</head>


<body>

	<div th:replace="fragments/layout :: header"></div>
	<div th:replace="fragments/layout :: menu"></div>


	<div id="page-wrapper" class="gray-bg sidebar-content" >
		<div th:replace="fragments/layout :: title (title_page= #{followers.topten})"></div>
		<div th:replace="fragments/layout :: counts"></div>
		
		<!-- INICIO DATOS DEMOGRAFICOS NIVEL EDUCATIVO-->
                
                <div class="row">
                   
                    <div class="col-lg-12">
						<!-- INICIO DATOS NIVEL EDUCATIVO -->
                        <div class="row">
                            <div class="col-lg-12" >
                                <div class="ibox float-e-margins">
                                    <div class="ibox-title form-inline">
                                        <h5 th:text="#{followers.demographicDatas}"></h5>
                                        &nbsp;
                                		<span class = "fa fa-facebook-square fa-2x" style="color: #3b5998;"></span>
                                		<div class="pull-right">
                                		 <div class="input-group date" >
                                	  	<select class="form-control selectpicker input-sm" >
											  
											  <option selected th:text="#{general.anio2}"></option>
											</select>
										   <select id="selMeses" class="form-control selectpicker input-sm" >
											  <option selected th:text="#{general.january}"></option>
											</select>

										</div>
		                                    <div class="btn-group">
		                                        <button id="btnDemMensual" type="button" class="btn btn-xs btn-white active" th:text="#{general.montly}"></button>
		                                        <button id="btnDemTrimestral" type="button" class="btn btn-xs btn-white" th:text="#{general.trimester}"></button>
		                                        <button id="btnDemSemestral" type="button" class="btn btn-xs btn-white" th:text="#{general.semester}"></button>
		                                    </div>
		                                </div>

                                    </div>
                                    <div class="ibox-content  tab-pane-scroll">
										<!-- INICIO RESUMEN DE DATOS DEMO-->
                                        <div class="row" >
                                        <div class="ibox float-e-margins">
                                    <div class="ibox-title">
                                        <h5 th:text="#{followers.educationLevel}"></h5>
                                        &nbsp;
                                    </div>
                                        	<div class="col-lg-9">
			                                   		<!-- iconos 
							                        <canvas id="barEducation" height="80"></canvas>-->
							                        <div class="row text-center">
							                            <div class="col-lg-4 ">
							                            	<canvas id="educationChart1" height="200" ></canvas>
							                            	<strong><small th:text="#{demo.cuenta1}"></small></strong>
							                            </div>
							                            <div class="col-lg-4 ">
							                            	<canvas id="educationChart2" height="200" ></canvas>
							                            	<strong><small th:text="#{demo.cuenta2}"></small></strong>
							                            </div>
							                       </div>
							                       <div class="row text-center">
							                            <div class="col-lg-4 ">
							                            	<canvas id="educationChart3"  height="200"></canvas>
							                            	<strong><small th:text="#{demo.cuenta3}"></small></strong>
							                            </div>
							                            <div class="col-lg-4 ">
							                            	<canvas id="educationChart4"  height="200"></canvas>
							                            	<strong><small th:text="#{demo.cuenta4}"></small></strong>
							                            </div>
							                        </div>
	                                		</div>
                             
                             		<div class="col-lg-3">
                                    <ul class="stat-list">
                                        <li>
                                            <h3 class="no-margins" th:text="#{demo.cuenta1}"></h3>
                                            
                                            <small th:text="#{followers.men}"></small>
                                            <div id="percEdCuenta1_h" class="stat-percent font-bold">62% <i class="fa fa-level-up text-navy"></i></div>
                                            <div class="progress progress-mini">
                                                <div id="percEdCuenta1_numh" style="width: 62%;background-color: #9C1F18;" class="progress-bar"></div>
                                            </div>
                                            
                                            <small th:text="#{followers.women}"></small>
                                            <div id="percEdCuenta1_m" class="stat-percent font-bold">15% <i class="fa fa-level-down text-navy text-warning"></i></div>
                                            <div class="progress progress-mini">
                                                <div id="percEdCuenta1_numm" style="width: 15%;background-color: #FA7B74;" class="progress-bar"></div>
                                            </div>
                                            
                                        
                                            
                                        </li>
                                        <li>
                                            <h3 class="no-margins " th:text="#{demo.cuenta2}"></h3>
                                            
                                            <small th:text="#{followers.men}"></small>
                                            <div id="percEdCuenta2_h" class="stat-percent font-bold">23% <i class="fa fa-level-up text-navy"></i></div>
                                            <div class="progress progress-mini">
                                                <div id="percEdCuenta2_numh" style="width: 23%;background-color: #1D469F;" class="progress-bar"></div>
                                            </div>
                                            
                                             <small th:text="#{followers.women}"></small>
                                            <div id="percEdCuenta2_m" class="stat-percent font-bold">11% <i class="fa fa-level-down text-navy text-warning"></i></div>
                                            <div class="progress progress-mini">
                                                <div id="percEdCuenta2_numm" style="width: 11%;background-color: #5C8DF7;" class="progress-bar"></div>
                                            </div>
                                             
                                            
                                        </li>
                                        <li>
                                            <h3 class="no-margins " th:text="#{demo.cuenta3}"></h3>
                                            
                                            <small th:text="#{followers.men}"></small>
                                            <div id="percEdCuenta3_h" class="stat-percent font-bold">53% <i class="fa fa-level-up text-navy"></i></div>
                                            <div class="progress progress-mini">
                                                <div id="percEdCuenta3_numh" style="width: 53%;background-color: #DCB107;" class="progress-bar"></div>
                                            </div>
                                            
                                             <small th:text="#{followers.women}"></small>
                                            <div id="percEdCuenta3_m" class="stat-percent font-bold">2% <i class="fa fa-level-down text-navy text-warning"></i></div>
                                            <div class="progress progress-mini">
                                                <div id="percEdCuenta3_numm" style="width: 2%;background-color: #FADE6E;" class="progress-bar"></div>
                                            </div>
                                             
                                             
                                        </li>
                                        
                                        <li>
                                            <h3 class="no-margins " th:text="#{demo.cuenta4}"></h3>
                                            
                                            <small th:text="#{followers.men}"></small>
                                            <div id="percEdCuenta4_h" class="stat-percent font-bold">53% <i class="fa fa-level-up text-navy"></i></div>
                                            <div class="progress progress-mini">
                                                <div id="percEdCuenta4_numh" style="width: 53%;background-color: #31C177;" class="progress-bar"></div>
                                            </div>
                                            
                                             <small th:text="#{followers.women}"></small>
                                            <div id="percEdCuenta4_m" class="stat-percent font-bold">2% <i class="fa fa-level-down text-navy text-warning"></i></div>
                                            <div class="progress progress-mini">
                                                <div id="percEdCuenta4_numm" style="width: 2%;background-color: #86F8BD;" class="progress-bar"></div>
                                            </div>
                                             
                                             
                                        </li>
                                        </ul>
                                    </div>
                                        <!-- FIN RESUMEN DE DATOS DEMO-->	
                                      </div>
                                    </div>
                                    
                                    
                                    
                    
                    <!-- INICIO DATOS PROFESION -->
                        <div class="row">
                            <div class="col-lg-12" >
                                <div class="ibox float-e-margins">
                                    <div class="ibox-title">
                                        <h5 th:text="#{followers.occupationLevel}"></h5>
                                        &nbsp;
                                    </div>
                                    <div class="ibox-content">
										<!-- INICIO RESUMEN DE DATOS DEMO-->
                                        <div class="row" >
                                        	<div class="col-lg-9">
			                                   		<!-- iconos 
							                        <canvas id=barOccupation height="80"></canvas>
							                        -->
							                        
							                        <div class="row text-center">
							                            <div class="col-lg-4 ">
							                            	<canvas id="occupationChart1" height="200" ></canvas>
							                            	<strong><small th:text="#{demo.cuenta1}"></small></strong>
							                            </div>
							                            <div class="col-lg-4 ">
							                            	<canvas id="occupationChart2" height="200" ></canvas>
							                            	<strong><small th:text="#{demo.cuenta2}"></small></strong>
							                            </div>
							                          </div>
							                          <div class="row text-center">
							                            <div class="col-lg-4 ">
							                            	<canvas id="occupationChart3"  height="200"></canvas>
							                            	<strong><small th:text="#{demo.cuenta3}"></small></strong>
							                            </div>
							                             <div class="col-lg-4 ">
							                            	<canvas id="occupationChart4"  height="200"></canvas>
							                            	<strong><small th:text="#{demo.cuenta4}"></small></strong>
							                            </div>
							                        </div>
	                                		</div>
                             
                             		<div class="col-lg-3">
                                    <ul class="stat-list">
                                        <li>
                                            <h3 class="no-margins" th:text="#{demo.cuenta1}"></h3>
                                            
                                            <small th:text="#{followers.men}"></small>
                                            <div id="percProfCuenta1_h" class="stat-percent font-bold">23% <i class="fa fa-level-up text-navy"></i></div>
                                            <div class="progress progress-mini">
                                                <div id="percProfCuenta1_numh" style="width: 23%;background-color: #9C1F18;" class="progress-bar"></div>
                                            </div>
                                            
                                            <small th:text="#{followers.women}"></small>
                                            <div id="percProfCuenta1_m" class="stat-percent font-bold">1% <i class="fa fa-level-down text-navy text-warning"></i></div>
                                            <div class="progress progress-mini">
                                                <div id="percProfCuenta1_numm" style="width: 1%;background-color: #FA7B74;" class="progress-bar"></div>
                                            </div>
                                            
                                           
                                            
                                        </li>
                                        <li>
                                            <h3 class="no-margins " th:text="#{demo.cuenta2}"></h3>
                                            
                                            <small th:text="#{followers.men}"></small>
                                            <div id="percProfCuenta2_h" class="stat-percent font-bold">45% <i class="fa fa-level-up text-navy"></i></div>
                                            <div class="progress progress-mini">
                                                <div id="percProfCuenta2_numh" style="width: 45%;background-color: #1D469F;" class="progress-bar"></div>
                                            </div>
                                            
                                             <small th:text="#{followers.women}"></small>
                                            <div id="percProfCuenta2_m" class="stat-percent font-bold">5% <i class="fa fa-level-down text-navy text-warning"></i></div>
                                            <div class="progress progress-mini">
                                                <div id="percProfCuenta2_numm" style="width: 5%;background-color: #5C8DF7;" class="progress-bar"></div>
                                            </div>
                                             
                                            
                                        </li>
                                        <li>
                                            <h3 class="no-margins " th:text="#{demo.cuenta3}"></h3>
                                            
                                            <small th:text="#{followers.men}"></small>
                                            <div id="percProfCuenta3_h" class="stat-percent font-bold">69% <i class="fa fa-level-up text-navy"></i></div>
                                            <div class="progress progress-mini">
                                                <div id="percProfCuenta3_numh" style="width: 69%;background-color: #DCB107;" class="progress-bar"></div>
                                            </div>
                                            
                                             <small th:text="#{followers.women}"></small>
                                            <div id="percProfCuenta3_m" class="stat-percent font-bold">11% <i class="fa fa-level-down text-navy text-warning"></i></div>
                                            <div class="progress progress-mini">
                                                <div id="percProfCuenta3_numm" style="width: 11%;background-color: #FADE6E;" class="progress-bar"></div>
                                            </div>
                                             
                                          
                                        </li>
                                        
                                        <li>
                                            <h3 class="no-margins " th:text="#{demo.cuenta4}"></h3>
                                            
                                            <small th:text="#{followers.men}"></small>
                                            <div id="percProfCuenta4_h" class="stat-percent font-bold">69% <i class="fa fa-level-up text-navy"></i></div>
                                            <div class="progress progress-mini">
                                                <div id="percProfCuenta4_numh" style="width: 69%;background-color: #31C177;" class="progress-bar"></div>
                                            </div>
                                            
                                             <small th:text="#{followers.women}"></small>
                                            <div id="percProfCuenta4_m" class="stat-percent font-bold">11% <i class="fa fa-level-down text-navy text-warning"></i></div>
                                            <div class="progress progress-mini">
                                                <div id="percProfCuenta4_numm" style="width: 11%;background-color: #86F8BD;" class="progress-bar"></div>
                                            </div>
                                             
                                            
                                        </li>
                                        </ul>
                                    </div>
                                        <!-- FIN RESUMEN DE DATOS DEMO-->	
                                      
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- FIN DATOS NIVEL PROFESION -->
                    
                    <!-- INICIO DATOS ESTADO CIVIL -->
                        <div class="row">
                            <div class="col-lg-12" >
                                <div class="ibox float-e-margins">
                                    <div class="ibox-title">
                                        <h5 th:text="#{followers.civilStatus}"></h5>
                                        &nbsp;

                                    </div>
                                    <div class="ibox-content">
										<!-- INICIO RESUMEN DE DATOS DEMO-->
                                        <div class="row" >
                                        	<div class="col-lg-9">
			                                   		<!-- iconos 
							                        <canvas id="barCivilStatus" height="80"></canvas>
							                        -->
							                        <div class="row text-center">
							                            <div class="col-lg-4 ">
							                            	<canvas id="civilStatusChart1" height="200" ></canvas>
							                            	<strong><small th:text="#{demo.cuenta1}"></small></strong>
							                            </div>
							                            <div class="col-lg-4 ">
							                            	<canvas id="civilStatusChart2" height="200" ></canvas>
							                            	<strong><small th:text="#{demo.cuenta2}"></small></strong>
							                            </div>
							                       </div>
							                       <div class="row text-center">
							                            <div class="col-lg-4 ">
							                            	<canvas id="civilStatusChart3"  height="200"></canvas>
							                            	<strong><small th:text="#{demo.cuenta3}"></small></strong>
							                            </div>
							                            <div class="col-lg-4 ">
							                            	<canvas id="civilStatusChart4"  height="200"></canvas>
							                            	<strong><small th:text="#{demo.cuenta4}"></small></strong>
							                            </div>
							                        </div>
	                                		</div>
                             
                             		<div class="col-lg-3">
                                    <ul class="stat-list">
                                        <li>
                                            <h3 class="no-margins" th:text="#{demo.cuenta1}"></h3>
                                            
                                            <small th:text="#{followers.men}"></small>
                                            <div id="percCivilCuenta1_h" class="stat-percent font-bold">53% <i class="fa fa-level-up text-navy"></i></div>
                                            <div class="progress progress-mini">
                                                <div id="percCivilCuenta1_numh" style="width: 53%;background-color: #9C1F18;" class="progress-bar"></div>
                                            </div>
                                            
                                            <small th:text="#{followers.women}"></small>
                                            <div id="percCivilCuenta1_m" class="stat-percent font-bold">13% <i class="fa fa-level-down text-navy text-warning"></i></div>
                                            <div class="progress progress-mini">
                                                <div id="percCivilCuenta1_numm" style="width: 13%;background-color: #FA7B74;" class="progress-bar"></div>
                                            </div>
                                           
                                            
                                        </li>
                                        <li>
                                            <h3 class="no-margins " th:text="#{demo.cuenta2}"></h3>
                                            
                                            <small th:text="#{followers.men}"></small>
                                            <div id="percCivilCuenta2_h" class="stat-percent font-bold">62% <i class="fa fa-level-up text-navy"></i></div>
                                            <div class="progress progress-mini">
                                                <div id="percCivilCuenta2_numh" style="width: 62%;background-color: #1D469F;" class="progress-bar"></div>
                                            </div>
                                            
                                             <small th:text="#{followers.women}"></small>
                                            <div id="percCivilCuenta2_m" class="stat-percent font-bold">15% <i class="fa fa-level-down text-navy text-warning"></i></div>
                                            <div class="progress progress-mini">
                                                <div id="percCivilCuenta2_numm" style="width: 15%;background-color: #5C8DF7;" class="progress-bar"></div>
                                            </div>
                                             
                                            
                                        </li>
                                        <li>
                                            <h3 class="no-margins " th:text="#{demo.cuenta3}"></h3>
                                            
                                            <small th:text="#{followers.men}"></small>
                                            <div id="percCivilCuenta3_h" class="stat-percent font-bold">41% <i class="fa fa-level-up text-navy"></i></div>
                                            <div class="progress progress-mini">
                                                <div id="percCivilCuenta3_numh" style="width: 41%;background-color: #DCB107;" class="progress-bar"></div>
                                            </div>
                                            
                                             <small th:text="#{followers.women}"></small>
                                            <div id="percCivilCuenta3_m" class="stat-percent font-bold">3% <i class="fa fa-level-down text-navy text-warning"></i></div>
                                            <div class="progress progress-mini">
                                                <div id="percCivilCuenta3_numm" style="width: 3%;background-color: #FADE6E;" class="progress-bar"></div>
                                            </div>
                                             
                                            
                                        </li>
                                        <li>
                                            <h3 class="no-margins " th:text="#{demo.cuenta4}"></h3>
                                            
                                            <small th:text="#{followers.men}"></small>
                                            <div id="percCivilCuenta4_h" class="stat-percent font-bold">41% <i class="fa fa-level-up text-navy"></i></div>
                                            <div class="progress progress-mini">
                                                <div id="percCivilCuenta4_numh" style="width: 41%;background-color: #31C177;" class="progress-bar"></div>
                                            </div>
                                            
                                             <small th:text="#{followers.women}"></small>
                                            <div id="percCivilCuenta4_m" class="stat-percent font-bold">3% <i class="fa fa-level-down text-navy text-warning"></i></div>
                                            <div class="progress progress-mini">
                                                <div id="percCivilCuenta4_numm" style="width: 3%;background-color: #86F8BD;" class="progress-bar"></div>
                                            </div>
                                             
                                            
                                        </li>
                                        </ul>
                                    </div>
                                        <!-- FIN RESUMEN DE DATOS DEMO-->	
                                      
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- FIN DATOS ESTADO CIVIL -->
                    
                    
                    <!-- INICIO DATOS RELIGION -->
                        <div class="row">
                            <div class="col-lg-12" >
                                <div class="ibox float-e-margins">
                                    <div class="ibox-title">
                                        <h5 th:text="#{followers.religion}"></h5>
                                        &nbsp;
                                    </div>
                                    <div class="ibox-content">
										<!-- INICIO RESUMEN DE DATOS DEMO-->
                                        <div class="row" >
                                        	<div class="col-lg-9">
			                                   		<!-- iconos 
							                        <canvas id="barReligion" height="80"></canvas>
							                        -->
							                        
							                        <div class="row text-center">
							                            <div class="col-lg-4 ">
							                            	<canvas id="religionChart1" height="200" ></canvas>
							                            	<strong><small th:text="#{demo.cuenta1}"></small></strong>
							                            </div>
							                            <div class="col-lg-4 ">
							                            	<canvas id="religionChart2" height="200" ></canvas>
							                            	<strong><small th:text="#{demo.cuenta2}"></small></strong>
							                            </div>
							                        </div>
							                        <div class="row text-center">
							                            <div class="col-lg-4 ">
							                            	<canvas id="religionChart3"  height="200"></canvas>
							                            	<strong><small th:text="#{demo.cuenta3}"></small></strong>
							                            </div>
							                            <div class="col-lg-4 ">
							                            	<canvas id="religionChart4"  height="200"></canvas>
							                            	<strong><small th:text="#{demo.cuenta4}"></small></strong>
							                            </div>
							                        </div>
	                                		</div>
                             
                             		<div class="col-lg-3">
                                    <ul class="stat-list">
                                        <li>
                                            <h3 class="no-margins" th:text="#{demo.cuenta1}"></h3>
                                            
                                            <small th:text="#{followers.men}"></small>
                                            <div id="percRelCuenta1_h" class="stat-percent font-bold">31% <i class="fa fa-level-up text-navy"></i></div>
                                            <div class="progress progress-mini">
                                                <div id="percRelCuenta1_numh" style="width: 31%;background-color: #9C1F18;" class="progress-bar"></div>
                                            </div>
                                            
                                            <small th:text="#{followers.women}"></small>
                                            <div id="percRelCuenta1_m" class="stat-percent font-bold">5% <i class="fa fa-level-down text-navy text-warning"></i></div>
                                            <div class="progress progress-mini">
                                                <div id="percRelCuenta1_numm" style="width: 5%;background-color: #FA7B74;" class="progress-bar"></div>
                                            </div>
                                            
                                            
                                        </li>
                                        <li>
                                            <h3 class="no-margins " th:text="#{demo.cuenta2}"></h3>
                                            
                                            <small th:text="#{followers.men}"></small>
                                            <div id="percRelCuenta2_h" class="stat-percent font-bold">32% <i class="fa fa-level-up text-navy"></i></div>
                                            <div class="progress progress-mini">
                                                <div id="percRelCuenta2_numh" style="width: 32%;background-color: #1D469F;" class="progress-bar"></div>
                                            </div>
                                            
                                             <small th:text="#{followers.women}"></small>
                                            <div id="percRelCuenta2_m" class="stat-percent font-bold">14% <i class="fa fa-level-down text-navy text-warning"></i></div>
                                            <div class="progress progress-mini">
                                                <div id="percRelCuenta2_numm" style="width: 14%;background-color: #5C8DF7;" class="progress-bar"></div>
                                            </div>
                                             
                                          
                                        </li>
                                        <li>
                                            <h3 class="no-margins " th:text="#{demo.cuenta3}"></h3>
                                            
                                            <small th:text="#{followers.men}"></small>
                                            <div id="percRelCuenta3_h" class="stat-percent font-bold">49% <i class="fa fa-level-up text-navy"></i></div>
                                            <div class="progress progress-mini">
                                                <div id="percRelCuenta3_numh" style="width: 49%;background-color: #DCB107;" class="progress-bar"></div>
                                            </div>
                                            
                                             <small th:text="#{followers.women}"></small>
                                            <div id="percRelCuenta3_m" class="stat-percent font-bold">3% <i class="fa fa-level-down text-navy text-warning"></i></div>
                                            <div class="progress progress-mini">
                                                <div id="percRelCuenta3_numm" style="width: 3%;background-color: #FADE6E;" class="progress-bar"></div>
                                            </div>
                                             
                                             
                                        </li>
                                        
                                        <li>
                                            <h3 class="no-margins " th:text="#{demo.cuenta4}"></h3>
                                            
                                            <small th:text="#{followers.men}"></small>
                                            <div id="percRelCuenta4_h" class="stat-percent font-bold">49% <i class="fa fa-level-up text-navy"></i></div>
                                            <div class="progress progress-mini">
                                                <div id="percRelCuenta4_numh" style="width: 49%;background-color: #31C177;" class="progress-bar"></div>
                                            </div>
                                            
                                             <small th:text="#{followers.women}"></small>
                                            <div id="percRelCuenta4_m" class="stat-percent font-bold">3% <i class="fa fa-level-down text-navy text-warning"></i></div>
                                            <div class="progress progress-mini">
                                                <div id="percRelCuenta4_numm" style="width: 3%;background-color: #86F8BD;" class="progress-bar"></div>
                                            </div>
                                             
                                           
                                        </li>
                                        </ul>
                                    </div>
                                        <!-- FIN RESUMEN DE DATOS DEMO-->	
                                      
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- FIN DATOS RELIGION -->
                    
                    
                    <!-- INICIO DATOS PREFERENCIAS POLITICAS -->
                        <div class="row">
                            <div class="col-lg-12" >
                                <div class="ibox float-e-margins">
                                    <div class="ibox-title">
                                        <h5 th:text="#{followers.politics}"></h5>
                                        &nbsp;
                                    </div>
                                    <div class="ibox-content">
										<!-- INICIO RESUMEN DE DATOS DEMO-->
                                        <div class="row" >
                                        	<div class="col-lg-9">
			                                   		<!-- iconos
							                        <canvas id="barPolitics" height="80"></canvas>
							                         -->
							                        <div class="row text-center">
							                            <div class="col-lg-4 ">
							                            	<canvas id="politicalChart1" height="200" ></canvas>
							                            	<strong><small th:text="#{demo.cuenta1}"></small></strong>
							                            </div>
							                            <div class="col-lg-4 ">
							                            	<canvas id="politicalChart2" height="200" ></canvas>
							                            	<strong><small th:text="#{demo.cuenta2}"></small></strong>
							                            </div>
							                        </div>
							                        <div class="row text-center">
							                            <div class="col-lg-4 ">
							                            	<canvas id="politicalChart3"  height="200"></canvas>
							                            	<strong><small th:text="#{demo.cuenta3}"></small></strong>
							                            </div>
							                            <div class="col-lg-4 ">
							                            	<canvas id="politicalChart4"  height="200"></canvas>
							                            	<strong><small th:text="#{demo.cuenta4}"></small></strong>
							                            </div>
							                        </div>
	                                		</div>
                             
                             		<div class="col-lg-3">
                                    <ul class="stat-list">
                                        <li>
                                            <h3 class="no-margins" th:text="#{demo.cuenta1}"></h3>
                                            
                                            <small th:text="#{followers.men}"></small>
                                            <div id="percPolCuenta1_h" class="stat-percent font-bold">35% <i class="fa fa-level-up text-navy"></i></div>
                                            <div class="progress progress-mini">
                                                <div id="percPolCuenta1_numh" style="width: 35%;background-color: #9C1F18;" class="progress-bar"></div>
                                            </div>
                                            
                                            <small th:text="#{followers.women}"></small>
                                            <div id="percPolCuenta1_m" class="stat-percent font-bold">18% <i class="fa fa-level-down text-navy text-warning"></i></div>
                                            <div class="progress progress-mini">
                                                <div id="percPolCuenta1_numm" style="width: 18%;background-color: #FA7B74;" class="progress-bar"></div>
                                            </div>
                                            
                                            
                                            
                                        </li>
                                        <li>
                                            <h3 class="no-margins " th:text="#{demo.cuenta2}"></h3>
                                            
                                            <small th:text="#{followers.men}"></small>
                                            <div id="percPolCuenta2_h" class="stat-percent font-bold">67% <i class="fa fa-level-up text-navy"></i></div>
                                            <div class="progress progress-mini">
                                                <div id="percPolCuenta2_numh" style="width: 67%;background-color: #1D469F;" class="progress-bar"></div>
                                            </div>
                                            
                                             <small th:text="#{followers.women}"></small>
                                            <div id="percPolCuenta2_m" class="stat-percent font-bold">13% <i class="fa fa-level-down text-navy text-warning"></i></div>
                                            <div class="progress progress-mini">
                                                <div id="percPolCuenta2_numm" style="width: 13%;background-color: #5C8DF7;" class="progress-bar"></div>
                                            </div>
                                             
                                            
                                        </li>
                                        <li>
                                            <h3 class="no-margins " th:text="#{demo.cuenta3}"></h3>
                                            
                                            <small th:text="#{followers.men}"></small>
                                            <div id="percPolCuenta3_h" class="stat-percent font-bold">45% <i class="fa fa-level-up text-navy"></i></div>
                                            <div class="progress progress-mini">
                                                <div id="percPolCuenta3_numh" style="width: 45%;background-color: #DCB107;" class="progress-bar"></div>
                                            </div>
                                            
                                             <small th:text="#{followers.women}"></small>
                                            <div id="percPolCuenta3_m" class="stat-percent font-bold">8% <i class="fa fa-level-down text-navy text-warning"></i></div>
                                            <div class="progress progress-mini">
                                                <div id="percPolCuenta3_numm"  style="width: 8%;background-color: #FADE6E;" class="progress-bar"></div>
                                            </div>
                                             
                                             
                                        </li>
                                        
                                        <li>
                                            <h3 class="no-margins " th:text="#{demo.cuenta4}"></h3>
                                            
                                            <small th:text="#{followers.men}"></small>
                                            <div id="percPolCuenta4_h" class="stat-percent font-bold">45% <i class="fa fa-level-up text-navy"></i></div>
                                            <div class="progress progress-mini">
                                                <div id="percPolCuenta4_numh" style="width: 45%;background-color: #31C177;" class="progress-bar"></div>
                                            </div>
                                            
                                             <small th:text="#{followers.women}"></small>
                                            <div id="percPolCuenta4_m" class="stat-percent font-bold">8% <i class="fa fa-level-down text-navy text-warning"></i></div>
                                            <div class="progress progress-mini">
                                                <div id="percPolCuenta4_numm"  style="width: 8%;background-color: #86F8BD;" class="progress-bar"></div>
                                            </div>
                                             
                                            
                                        </li>
                                        </ul>
                                    </div>
                                        <!-- FIN RESUMEN DE DATOS DEMO-->	
                                      
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- FIN DATOS PREFERENCIAS POLITICAS -->
                                    
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- FIN DATOS NIVEL EDUCATIVO -->
                    
                </div>
        </div>        
                <!-- FIN DATOS DEMOGAFICOS -->
		
		
	</div>
	<div th:replace="fragments/layout :: footer"></div>
	<div th:replace="fragments/layout :: script-general"></div>
	<script src="resources/js/data/followersDemographic-data.js" type="text/javascript"
			th:href="@{/resources/js/data/Demographic-data.js}"></script>
</body>
</html>