<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">

 <link href="../../../resources/css/akin.css" rel="stylesheet"
    	th:href="@{resources/css/akin.css}"> 
</head>


<body>

	<div th:replace="fragments/layout :: header"></div>
	<div th:replace="fragments/layout :: menu"></div>


	<div id="page-wrapper" class="gray-bg sidebar-content" >
		<div th:replace="fragments/layout :: title (title_page= #{followers.topten})"></div>
		<div th:replace="fragments/layout :: counts"></div>
		
		<!-- INICIO DATOS DEMOGRAFICOS NIVEL EDUCATIVO-->
                
                <div class="row">
                   
                    <div class="col-lg-12">
						<!-- INICIO DATOS NIVEL EDUCATIVO -->
                        <div class="row">
                            <div class="col-lg-12" >
                                <div class="ibox float-e-margins">
                                    <div class="ibox-title form-inline">
                                        <h5>Demografia de los Seguidores</h5>
                                        &nbsp;
                                		<span class = "fa fa-facebook-square fa-2x" style="color: #3b5998;"></span>
                                		<div class="pull-right">
                                		 <div class="input-group date" >
                                	  	<select class="form-control selectpicker input-sm" >
											  <option>2016</option>
											  <option selected>2017</option>
											</select>
										   <select id="selMeses" class="form-control selectpicker input-sm" >
											  <option>Enero</option>
											  <option>Febrero</option>
											  <option>Marzo</option>
											  <option>Abril</option>
											  <option>Mayo</option>
											  <option>Junio</option>
											  <option selected>Julio</option>
											  <option>Agosto</option>
											  <option>Septiembre</option>
											  <option>Octubre</option>
											  <option>Noviembre</option>
											  <option>Diciembre</option>
											</select>

										</div>
		                                    <div class="btn-group">
		                                        <button id="btnDemMensual" type="button" class="btn btn-xs btn-white active">Mensual</button>
		                                        <button id="btnDemTrimestral" type="button" class="btn btn-xs btn-white">Trimestral</button>
		                                        <button id="btnDemSemestral" type="button" class="btn btn-xs btn-white">Semestral</button>
		                                    </div>
		                                </div>

                                    </div>
                                    <div class="ibox-content  tab-pane-scroll">
										<!-- INICIO RESUMEN DE DATOS DEMO-->
                                        <div class="row" >
                                        <div class="ibox float-e-margins">
                                    <div class="ibox-title">
                                        <h5>Datos Demográficos del Nivel Educativo</h5>
                                        &nbsp;
                                    </div>
                                        	<div class="col-lg-9">
			                                   		<!-- iconos 
							                        <canvas id="barEducation" height="80"></canvas>-->
							                        <div class="ibox-content text-center">
							                            <div class="col-lg-4 ">
							                            	<canvas id="educationChart1" height="200" ></canvas>
							                            	<strong><small th:text="#{demo.cuenta1}"></small></strong>
							                            </div>
							                            <div class="col-lg-4 ">
							                            	<canvas id="educationChart2" height="200" ></canvas>
							                            	<strong><small th:text="#{demo.cuenta2}"></small></strong>
							                            </div>
							                            <div class="col-lg-4 ">
							                            	<canvas id="educationChart3"  height="200"></canvas>
							                            	<strong><small th:text="#{demo.cuenta3}"></small></strong>
							                            </div>
							                        </div>
	                                		</div>
                             
                             		<div class="col-lg-3">
                                    <ul class="stat-list">
                                        <li>
                                            <h3 class="no-margins" th:text="#{demo.cuenta1}"></h3>
                                            
                                            <small>Hombres</small>
                                            <div id="percEdCuenta1_h" class="stat-percent font-bold">62% <i class="fa fa-level-up text-navy"></i></div>
                                            <div class="progress progress-mini">
                                                <div id="percEdCuenta1_numh" style="width: 62%;" class="progress-bar label-blue"></div>
                                            </div>
                                            
                                            <small>Mujeres</small>
                                            <div id="percEdCuenta1_m" class="stat-percent font-bold">15% <i class="fa fa-level-down text-navy text-warning"></i></div>
                                            <div class="progress progress-mini">
                                                <div id="percEdCuenta1_numm" style="width: 15%;" class="progress-bar"></div>
                                            </div>
                                            
                                            <small>Otros</small>
                                            <div id="percEdCuenta1_o" class="stat-percent font-bold">62% <i class="fa fa-level-down text-navy text-warning"></i></div>
                                            <div class="progress progress-mini">
                                                <div id="percEdCuenta1_numo" style="width: 62%;" class="progress-bar label-purple"></div>
                                            </div>
                                            
                                        </li>
                                        <li>
                                            <h3 class="no-margins " th:text="#{demo.cuenta2}"></h3>
                                            
                                            <small>Hombres</small>
                                            <div id="percEdCuenta2_h" class="stat-percent font-bold">23% <i class="fa fa-level-up text-navy"></i></div>
                                            <div class="progress progress-mini">
                                                <div id="percEdCuenta2_numh" style="width: 23%;" class="progress-bar label-blue"></div>
                                            </div>
                                            
                                             <small>Mujeres</small>
                                            <div id="percEdCuenta2_m" class="stat-percent font-bold">11% <i class="fa fa-level-down text-navy text-warning"></i></div>
                                            <div class="progress progress-mini">
                                                <div id="percEdCuenta2_numm" style="width: 11%;" class="progress-bar"></div>
                                            </div>
                                             
                                             <small>Otros</small>
                                            <div id="percEdCuenta2_o" class="stat-percent font-bold">34% <i class="fa fa-level-down text-navy text-warning"></i></div>
                                            <div class="progress progress-mini">
                                                <div id="percEdCuenta2_numo" style="width: 34%;" class="progress-bar label-purple"></div>
                                            </div>
                                        </li>
                                        <li>
                                            <h3 class="no-margins " th:text="#{demo.cuenta3}"></h3>
                                            
                                            <small>Hombres</small>
                                            <div id="percEdCuenta3_h" class="stat-percent font-bold">53% <i class="fa fa-level-up text-navy"></i></div>
                                            <div class="progress progress-mini">
                                                <div id="percEdCuenta3_numh" style="width: 53%;" class="progress-bar label-blue"></div>
                                            </div>
                                            
                                             <small>Mujeres</small>
                                            <div id="percEdCuenta3_m" class="stat-percent font-bold">2% <i class="fa fa-level-down text-navy text-warning"></i></div>
                                            <div class="progress progress-mini">
                                                <div id="percEdCuenta3_numm" style="width: 2%;" class="progress-bar"></div>
                                            </div>
                                             
                                             <small>Otros</small>
                                            <div id="percEdCuenta3_o" class="stat-percent font-bold">37% <i class="fa fa-level-down text-navy text-warning"></i></div>
                                            <div class="progress progress-mini">
                                                <div id="percEdCuenta3_numo" style="width: 37%;" class="progress-bar label-purple"></div>
                                            </div>
                                        </li>
                                        </ul>
                                    </div>
                                        <!-- FIN RESUMEN DE DATOS DEMO-->	
                                      </div>
                                    </div>
                                    
                                    
                                    
                    
                    <!-- INICIO DATOS PROFESION -->
                        <div class="row">
                            <div class="col-lg-12" >
                                <div class="ibox float-e-margins">
                                    <div class="ibox-title">
                                        <h5>Datos Demógraficos de la Profesión</h5>
                                        &nbsp;
                                    </div>
                                    <div class="ibox-content">
										<!-- INICIO RESUMEN DE DATOS DEMO-->
                                        <div class="row" >
                                        	<div class="col-lg-9">
			                                   		<!-- iconos 
							                        <canvas id=barOccupation height="80"></canvas>
							                        -->
							                        
							                        <div class="ibox-content text-center">
							                            <div class="col-lg-4 ">
							                            	<canvas id="occupationChart1" height="200" ></canvas>
							                            	<strong><small th:text="#{demo.cuenta1}"></small></strong>
							                            </div>
							                            <div class="col-lg-4 ">
							                            	<canvas id="occupationChart2" height="200" ></canvas>
							                            	<strong><small th:text="#{demo.cuenta2}"></small></strong>
							                            </div>
							                            <div class="col-lg-4 ">
							                            	<canvas id="occupationChart3"  height="200"></canvas>
							                            	<strong><small th:text="#{demo.cuenta3}"></small></strong>
							                            </div>
							                        </div>
	                                		</div>
                             
                             		<div class="col-lg-3">
                                    <ul class="stat-list">
                                        <li>
                                            <h3 class="no-margins" th:text="#{demo.cuenta1}"></h3>
                                            
                                            <small>Hombres</small>
                                            <div id="percProfCuenta1_h" class="stat-percent font-bold">23% <i class="fa fa-level-up text-navy"></i></div>
                                            <div class="progress progress-mini">
                                                <div id="percProfCuenta1_numh" style="width: 23%;" class="progress-bar label-blue"></div>
                                            </div>
                                            
                                            <small>Mujeres</small>
                                            <div id="percProfCuenta1_m" class="stat-percent font-bold">1% <i class="fa fa-level-down text-navy text-warning"></i></div>
                                            <div class="progress progress-mini">
                                                <div id="percProfCuenta1_numm" style="width: 1%;" class="progress-bar"></div>
                                            </div>
                                            
                                            <small>Otros</small>
                                            <div id="percProfCuenta1_o" class="stat-percent font-bold">15% <i class="fa fa-level-down text-navy text-warning"></i></div>
                                            <div class="progress progress-mini">
                                                <div id="percProfCuenta1_numo" style="width: 15%;" class="progress-bar label-purple"></div>
                                            </div>
                                            
                                        </li>
                                        <li>
                                            <h3 class="no-margins " th:text="#{demo.cuenta2}"></h3>
                                            
                                            <small>Hombres</small>
                                            <div id="percProfCuenta2_h" class="stat-percent font-bold">45% <i class="fa fa-level-up text-navy"></i></div>
                                            <div class="progress progress-mini">
                                                <div id="percProfCuenta2_numh" style="width: 45%;" class="progress-bar label-blue"></div>
                                            </div>
                                            
                                             <small>Mujeres</small>
                                            <div id="percProfCuenta2_m" class="stat-percent font-bold">5% <i class="fa fa-level-down text-navy text-warning"></i></div>
                                            <div class="progress progress-mini">
                                                <div id="percProfCuenta2_numm" style="width: 5%;" class="progress-bar"></div>
                                            </div>
                                             
                                             <small>Otros</small>
                                            <div id="percProfCuenta2_o" class="stat-percent font-bold">36% <i class="fa fa-level-down text-navy text-warning"></i></div>
                                            <div class="progress progress-mini">
                                                <div id="percProfCuenta2_numo" style="width: 36%;" class="progress-bar label-purple"></div>
                                            </div>
                                        </li>
                                        <li>
                                            <h3 class="no-margins " th:text="#{demo.cuenta3}"></h3>
                                            
                                            <small>Hombres</small>
                                            <div id="percProfCuenta3_h" class="stat-percent font-bold">69% <i class="fa fa-level-up text-navy"></i></div>
                                            <div class="progress progress-mini">
                                                <div id="percProfCuenta3_numh" style="width: 69%;" class="progress-bar label-blue"></div>
                                            </div>
                                            
                                             <small>Mujeres</small>
                                            <div id="percProfCuenta3_m" class="stat-percent font-bold">11% <i class="fa fa-level-down text-navy text-warning"></i></div>
                                            <div class="progress progress-mini">
                                                <div id="percProfCuenta3_numm" style="width: 11%;" class="progress-bar"></div>
                                            </div>
                                             
                                             <small>Otros</small>
                                            <div id="percProfCuenta3_o" class="stat-percent font-bold">34% <i class="fa fa-level-down text-navy text-warning"></i></div>
                                            <div class="progress progress-mini">
                                                <div id="percProfCuenta3_numo" style="width: 34%;" class="progress-bar label-purple"></div>
                                            </div>
                                        </li>
                                        </ul>
                                    </div>
                                        <!-- FIN RESUMEN DE DATOS DEMO-->	
                                      
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- FIN DATOS NIVEL PROFESION -->
                    
                    <!-- INICIO DATOS ESTADO CIVIL -->
                        <div class="row">
                            <div class="col-lg-12" >
                                <div class="ibox float-e-margins">
                                    <div class="ibox-title">
                                        <h5>Datos Demógraficos del Estado Civil</h5>
                                        &nbsp;

                                    </div>
                                    <div class="ibox-content">
										<!-- INICIO RESUMEN DE DATOS DEMO-->
                                        <div class="row" >
                                        	<div class="col-lg-9">
			                                   		<!-- iconos 
							                        <canvas id="barCivilStatus" height="80"></canvas>
							                        -->
							                        <div class="ibox-content text-center">
							                            <div class="col-lg-4 ">
							                            	<canvas id="civilStatusChart1" height="200" ></canvas>
							                            	<strong><small th:text="#{demo.cuenta1}"></small></strong>
							                            </div>
							                            <div class="col-lg-4 ">
							                            	<canvas id="civilStatusChart2" height="200" ></canvas>
							                            	<strong><small th:text="#{demo.cuenta2}"></small></strong>
							                            </div>
							                            <div class="col-lg-4 ">
							                            	<canvas id="civilStatusChart3"  height="200"></canvas>
							                            	<strong><small th:text="#{demo.cuenta3}"></small></strong>
							                            </div>
							                        </div>
	                                		</div>
                             
                             		<div class="col-lg-3">
                                    <ul class="stat-list">
                                        <li>
                                            <h3 class="no-margins" th:text="#{demo.cuenta1}"></h3>
                                            
                                            <small>Hombres</small>
                                            <div id="percCivilCuenta1_h" class="stat-percent font-bold">53% <i class="fa fa-level-up text-navy"></i></div>
                                            <div class="progress progress-mini">
                                                <div id="percCivilCuenta1_numh" style="width: 53%;" class="progress-bar label-blue"></div>
                                            </div>
                                            
                                            <small>Mujeres</small>
                                            <div id="percCivilCuenta1_m" class="stat-percent font-bold">13% <i class="fa fa-level-down text-navy text-warning"></i></div>
                                            <div class="progress progress-mini">
                                                <div id="percCivilCuenta1_numm" style="width: 13%;" class="progress-bar"></div>
                                            </div>
                                            
                                            <small>Otros</small>
                                            <div id="percCivilCuenta1_o" class="stat-percent font-bold">42% <i class="fa fa-level-down text-navy text-warning"></i></div>
                                            <div class="progress progress-mini">
                                                <div id="percCivilCuenta1_numo" style="width: 42%;" class="progress-bar label-purple"></div>
                                            </div>
                                            
                                        </li>
                                        <li>
                                            <h3 class="no-margins " th:text="#{demo.cuenta2}"></h3>
                                            
                                            <small>Hombres</small>
                                            <div id="percCivilCuenta2_h" class="stat-percent font-bold">62% <i class="fa fa-level-up text-navy"></i></div>
                                            <div class="progress progress-mini">
                                                <div id="percCivilCuenta2_numh" style="width: 62%;" class="progress-bar label-blue"></div>
                                            </div>
                                            
                                             <small>Mujeres</small>
                                            <div id="percCivilCuenta2_m" class="stat-percent font-bold">15% <i class="fa fa-level-down text-navy text-warning"></i></div>
                                            <div class="progress progress-mini">
                                                <div id="percCivilCuenta2_numm" style="width: 15%;" class="progress-bar"></div>
                                            </div>
                                             
                                             <small>Otros</small>
                                            <div id="percCivilCuenta2_o" class="stat-percent font-bold">62% <i class="fa fa-level-down text-navy text-warning"></i></div>
                                            <div class="progress progress-mini">
                                                <div id="percCivilCuenta2_numo" style="width: 62%;" class="progress-bar label-purple"></div>
                                            </div>
                                        </li>
                                        <li>
                                            <h3 class="no-margins " th:text="#{demo.cuenta3}"></h3>
                                            
                                            <small>Hombres</small>
                                            <div id="percCivilCuenta3_h" class="stat-percent font-bold">41% <i class="fa fa-level-up text-navy"></i></div>
                                            <div class="progress progress-mini">
                                                <div id="percCivilCuenta3_numh" style="width: 41%;" class="progress-bar label-blue"></div>
                                            </div>
                                            
                                             <small>Mujeres</small>
                                            <div id="percCivilCuenta3_m" class="stat-percent font-bold">3% <i class="fa fa-level-down text-navy text-warning"></i></div>
                                            <div class="progress progress-mini">
                                                <div id="percCivilCuenta3_numm" style="width: 3%;" class="progress-bar"></div>
                                            </div>
                                             
                                             <small>Otros</small>
                                            <div id="percCivilCuenta3_o" class="stat-percent font-bold">27% <i class="fa fa-level-down text-navy text-warning"></i></div>
                                            <div class="progress progress-mini">
                                                <div id="percCivilCuenta3_numo" style="width: 27%;" class="progress-bar label-purple"></div>
                                            </div>
                                        </li>
                                        </ul>
                                    </div>
                                        <!-- FIN RESUMEN DE DATOS DEMO-->	
                                      
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- FIN DATOS ESTADO CIVIL -->
                    
                    
                    <!-- INICIO DATOS RELIGION -->
                        <div class="row">
                            <div class="col-lg-12" >
                                <div class="ibox float-e-margins">
                                    <div class="ibox-title">
                                        <h5>Datos Demógraficos de la Preferencia Religiosa</h5>
                                        &nbsp;
                                    </div>
                                    <div class="ibox-content">
										<!-- INICIO RESUMEN DE DATOS DEMO-->
                                        <div class="row" >
                                        	<div class="col-lg-9">
			                                   		<!-- iconos 
							                        <canvas id="barReligion" height="80"></canvas>
							                        -->
							                        
							                        <div class="ibox-content text-center">
							                            <div class="col-lg-4 ">
							                            	<canvas id="religionChart1" height="200" ></canvas>
							                            	<strong><small th:text="#{demo.cuenta1}"></small></strong>
							                            </div>
							                            <div class="col-lg-4 ">
							                            	<canvas id="religionChart2" height="200" ></canvas>
							                            	<strong><small th:text="#{demo.cuenta2}"></small></strong>
							                            </div>
							                            <div class="col-lg-4 ">
							                            	<canvas id="religionChart3"  height="200"></canvas>
							                            	<strong><small th:text="#{demo.cuenta3}"></small></strong>
							                            </div>
							                        </div>
	                                		</div>
                             
                             		<div class="col-lg-3">
                                    <ul class="stat-list">
                                        <li>
                                            <h3 class="no-margins" th:text="#{demo.cuenta1}"></h3>
                                            
                                            <small>Hombres</small>
                                            <div id="percRelCuenta1_h" class="stat-percent font-bold">31% <i class="fa fa-level-up text-navy"></i></div>
                                            <div class="progress progress-mini">
                                                <div id="percRelCuenta1_numh" style="width: 31%;" class="progress-bar label-blue"></div>
                                            </div>
                                            
                                            <small>Mujeres</small>
                                            <div id="percRelCuenta1_m" class="stat-percent font-bold">5% <i class="fa fa-level-down text-navy text-warning"></i></div>
                                            <div class="progress progress-mini">
                                                <div id="percRelCuenta1_numm" style="width: 5%;" class="progress-bar"></div>
                                            </div>
                                            
                                            <small>Otros</small>
                                            <div id="percRelCuenta1_o" class="stat-percent font-bold">29% <i class="fa fa-level-down text-navy text-warning"></i></div>
                                            <div class="progress progress-mini">
                                                <div id="percRelCuenta1_numo" style="width: 29%;" class="progress-bar label-purple"></div>
                                            </div>
                                            
                                        </li>
                                        <li>
                                            <h3 class="no-margins " th:text="#{demo.cuenta2}"></h3>
                                            
                                            <small>Hombres</small>
                                            <div id="percRelCuenta2_h" class="stat-percent font-bold">32% <i class="fa fa-level-up text-navy"></i></div>
                                            <div class="progress progress-mini">
                                                <div id="percRelCuenta2_numh" style="width: 32%;" class="progress-bar label-blue"></div>
                                            </div>
                                            
                                             <small>Mujeres</small>
                                            <div id="percRelCuenta2_m" class="stat-percent font-bold">14% <i class="fa fa-level-down text-navy text-warning"></i></div>
                                            <div class="progress progress-mini">
                                                <div id="percRelCuenta2_numm" style="width: 14%;" class="progress-bar"></div>
                                            </div>
                                             
                                             <small>Otros</small>
                                            <div id="percRelCuenta2_o" class="stat-percent font-bold">37% <i class="fa fa-level-down text-navy text-warning"></i></div>
                                            <div class="progress progress-mini">
                                                <div id="percRelCuenta2_numo" style="width: 37%;" class="progress-bar label-purple"></div>
                                            </div>
                                        </li>
                                        <li>
                                            <h3 class="no-margins " th:text="#{demo.cuenta3}"></h3>
                                            
                                            <small>Hombres</small>
                                            <div id="percRelCuenta3_h" class="stat-percent font-bold">49% <i class="fa fa-level-up text-navy"></i></div>
                                            <div class="progress progress-mini">
                                                <div id="percRelCuenta3_numh" style="width: 49%;" class="progress-bar label-blue"></div>
                                            </div>
                                            
                                             <small>Mujeres</small>
                                            <div id="percRelCuenta3_m" class="stat-percent font-bold">3% <i class="fa fa-level-down text-navy text-warning"></i></div>
                                            <div class="progress progress-mini">
                                                <div id="percRelCuenta3_numm" style="width: 3%;" class="progress-bar"></div>
                                            </div>
                                             
                                             <small>Otros</small>
                                            <div id="percRelCuenta3_o" class="stat-percent font-bold">27% <i class="fa fa-level-down text-navy text-warning"></i></div>
                                            <div class="progress progress-mini">
                                                <div id="percRelCuenta3_numo" style="width: 27%;" class="progress-bar label-purple"></div>
                                            </div>
                                        </li>
                                        </ul>
                                    </div>
                                        <!-- FIN RESUMEN DE DATOS DEMO-->	
                                      
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- FIN DATOS RELIGION -->
                    
                    
                    <!-- INICIO DATOS PREFERENCIAS POLITICAS -->
                        <div class="row">
                            <div class="col-lg-12" >
                                <div class="ibox float-e-margins">
                                    <div class="ibox-title">
                                        <h5>Datos Demógraficos de las Preferencias Politicas</h5>
                                        &nbsp;
                                    </div>
                                    <div class="ibox-content">
										<!-- INICIO RESUMEN DE DATOS DEMO-->
                                        <div class="row" >
                                        	<div class="col-lg-9">
			                                   		<!-- iconos
							                        <canvas id="barPolitics" height="80"></canvas>
							                         -->
							                        <div class="ibox-content text-center">
							                            <div class="col-lg-4 ">
							                            	<canvas id="politicalChart1" height="200" ></canvas>
							                            	<strong><small th:text="#{demo.cuenta1}"></small></strong>
							                            </div>
							                            <div class="col-lg-4 ">
							                            	<canvas id="politicalChart2" height="200" ></canvas>
							                            	<strong><small th:text="#{demo.cuenta2}"></small></strong>
							                            </div>
							                            <div class="col-lg-4 ">
							                            	<canvas id="politicalChart3"  height="200"></canvas>
							                            	<strong><small th:text="#{demo.cuenta3}"></small></strong>
							                            </div>
							                        </div>
	                                		</div>
                             
                             		<div class="col-lg-3">
                                    <ul class="stat-list">
                                        <li>
                                            <h3 class="no-margins" th:text="#{demo.cuenta1}"></h3>
                                            
                                            <small>Hombres</small>
                                            <div id="percPolCuenta1_h" class="stat-percent font-bold">35% <i class="fa fa-level-up text-navy"></i></div>
                                            <div class="progress progress-mini">
                                                <div id="percPolCuenta1_numh" style="width: 35%;" class="progress-bar label-blue"></div>
                                            </div>
                                            
                                            <small>Mujeres</small>
                                            <div id="percPolCuenta1_m" class="stat-percent font-bold">18% <i class="fa fa-level-down text-navy text-warning"></i></div>
                                            <div class="progress progress-mini">
                                                <div id="percPolCuenta1_numm" style="width: 18%;" class="progress-bar"></div>
                                            </div>
                                            
                                            <small>Otros</small>
                                            <div id="percPolCuenta1_o" class="stat-percent font-bold">26% <i class="fa fa-level-down text-navy text-warning"></i></div>
                                            <div class="progress progress-mini">
                                                <div id="percPolCuenta1_numo" style="width: 26%;" class="progress-bar label-purple"></div>
                                            </div>
                                            
                                        </li>
                                        <li>
                                            <h3 class="no-margins " th:text="#{demo.cuenta2}"></h3>
                                            
                                            <small>Hombres</small>
                                            <div id="percPolCuenta2_h" class="stat-percent font-bold">67% <i class="fa fa-level-up text-navy"></i></div>
                                            <div class="progress progress-mini">
                                                <div id="percPolCuenta2_numh" style="width: 67%;" class="progress-bar label-blue"></div>
                                            </div>
                                            
                                             <small>Mujeres</small>
                                            <div id="percPolCuenta2_m" class="stat-percent font-bold">13% <i class="fa fa-level-down text-navy text-warning"></i></div>
                                            <div class="progress progress-mini">
                                                <div id="percPolCuenta2_numm" style="width: 13%;" class="progress-bar"></div>
                                            </div>
                                             
                                             <small>Otros</small>
                                            <div id="percPolCuenta2_o" class="stat-percent font-bold">34% <i class="fa fa-level-down text-navy text-warning"></i></div>
                                            <div class="progress progress-mini">
                                                <div id="percPolCuenta2_numo" style="width: 34%;" class="progress-bar label-purple"></div>
                                            </div>
                                        </li>
                                        <li>
                                            <h3 class="no-margins " th:text="#{demo.cuenta3}"></h3>
                                            
                                            <small>Hombres</small>
                                            <div id="percPolCuenta3_h" class="stat-percent font-bold">45% <i class="fa fa-level-up text-navy"></i></div>
                                            <div class="progress progress-mini">
                                                <div id="percPolCuenta3_numh" style="width: 45%;" class="progress-bar label-blue"></div>
                                            </div>
                                            
                                             <small>Mujeres</small>
                                            <div id="percPolCuenta3_m" class="stat-percent font-bold">8% <i class="fa fa-level-down text-navy text-warning"></i></div>
                                            <div class="progress progress-mini">
                                                <div id="percPolCuenta3_numm"  style="width: 8%;" class="progress-bar"></div>
                                            </div>
                                             
                                             <small>Otros</small>
                                            <div id="percPolCuenta3_o" class="stat-percent font-bold">38% <i class="fa fa-level-down text-navy text-warning"></i></div>
                                            <div class="progress progress-mini">
                                                <div id="percPolCuenta3_numo" style="width: 38%;" class="progress-bar label-purple"></div>
                                            </div>
                                        </li>
                                        </ul>
                                    </div>
                                        <!-- FIN RESUMEN DE DATOS DEMO-->	
                                      
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- FIN DATOS PREFERENCIAS POLITICAS -->
                                    
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- FIN DATOS NIVEL EDUCATIVO -->
                    
                </div>
        </div>        
                <!-- FIN DATOS DEMOGAFICOS -->
		
		
	</div>
	<div th:replace="fragments/layout :: footer"></div>
	<div th:replace="fragments/layout :: script-general"></div>
	<script src="resources/js/data/followersDemographic-data.js" type="text/javascript"
			th:href="@{/resources/js/data/Demographic-data.js}"></script>
</body>
</html>