.div-visible{
	
	visibility: visible;
	position: absolute;
	top: 10%px;
	
}

.div-hidden{
	
	visibility: hidden;
	position: absolute;
	top: 10px;
}


.chart-legend li span{
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 5px;
}