.div-visible{
	
	visibility: visible;
	position: absolute;
	top: 10%px;
	
}

.div-hidden{
	
	visibility: hidden;
	position: absolute;
	top: 10px;
}


.chart-legend li span{
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 5px;
}

.label-blue{
  background-color: #1C84C6;
}

.label-purple {
  background-color: #6C74EE;
}

.tab-pane-scroll{
  height:425px !important;
  overflow-y:scroll;
  width:100%;
}
