
/***************VERTICAL MENU***********************/
.panel-user-image{
	position: relative;
	right: 20%;
	left: 30%;
	top: 1%;
    width: 28px;
    height: 30px;
   /*border: 1px solid green;*/
    
}
.panel-user-text{
	text-align: center;
	font-size:8px;
	
}

.panel-user{
	display: inline-block;
	padding:0px;
	width: 50px;
	height: 60px;
	/*border-color: gray;
	border-width: 1px;
	border-style: solid;*/
	
	
}


.fa-times-user:hover{
	color: #000;
   	/*text-shadow: 1px 1px 1px #ccc;*/
    /*font-size: 1.5em;*/
}

.fa-times-user{
	color: #fff;
   /* text-shadow: 1px 1px 1px #ccc;*/
    /*font-size: 1.5em;*/
}



.clickable {
    background: white;
    display: inline-block;
    padding: 0.5px 1px;
    /*border-radius: 1px;*/
    
}

.clickable:hover {
	/*background: rgba(0, 0, 0, 0.15);*/
	cursor: pointer;
	/*visibility: visible;*/
}

/***************KEBAB***********************/

.kebab-user-image{
	position: relative;
	top:10%
	left: 10%;
	width: 30px;
    height: 35px;
}

.kebab-user-text{
	font-size:8px;
	left: 15%;
}

.kebab-link i{
	background: black;
	color:white;
	font-size: 1.5rem;
}
.kebab-link i:active, .kebab-link i:hover {
 color:white;
  cursor: pointer;
   background: gray;
}

.kebab-dropdown {
  position: absolute;
  left: 18%;
}

/* Material design for dropdowns 
.dropdown-sm>.dropdown-menu>.dropdown-item {
  padding: 5px;
  margin-right: 0;
}
.dropdown-menu>.dropdown-item {
  padding: 1rem;
  margin-right: 0;
}
.dropdown-menu>.dropdown-item:hover {
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .19);
  color: white;
  background: #4285F4;
}

/*********TAB-BELOW*********/

.tabs-below > .nav-tabs{
  border-bottom: 0;
}

.tab-content > .tab-pane,
.pill-content > .pill-pane {
  display: none;
}

.tab-content > .active,
.pill-content > .active {
  display: block;
}

.tabs-below > .nav-tabs {
  border-top: 1px solid #ddd;
}

.tabs-below > .nav-tabs > li {
  margin-top: -1px;
  margin-bottom: 0;
}

.tabs-below > .nav-tabs > li > a {
  -webkit-border-radius: 0 0 4px 4px;
     -moz-border-radius: 0 0 4px 4px;
          border-radius: 0 0 4px 4px;
}

.tabs-below > .nav-tabs > li > a:hover,
.tabs-below > .nav-tabs > li > a:focus {
  border-top-color: #ddd;
  border-bottom-color: transparent;
}

.tabs-below > .nav-tabs > .active > a,
.tabs-below > .nav-tabs > .active > a:hover,
.tabs-below > .nav-tabs > .active > a:focus {
  border-color: transparent #ddd #ddd #ddd;
}



/******************SLIDER*******************************/

#scale-slider.ui-slider {
  border-radius: 0px;
  background: #c7cdd5;
  border: none;
  height: 2px;
  margin: 1em 4em 4em; }
  
  #scale-slider.ui-slider .ui-slider-range {
    background: linear-gradient(to right, #434d5a 0%, #001315 50%, #000000 100%)
    border: 1px solid rgba(67, 77, 90, 0.5);
    height: 4px;
    top: -1px;
    transition: all 0.2s ease-out; }
                    
#scale-slider .ui-slider-handle {
  border-radius: 2px;
  height: 20px;
  width: 12px;
  top: -26px;
  border: none; }
  
  #scale-slider .ui-slider-handle:nth-of-type(n+1) {
    transform: rotateZ(-10deg);
    margin-left: -9px; }
  
  #scale-slider .ui-slider-handle:nth-of-type(n+2) {
    transform: rotateZ(10deg);
    margin-left: -3px; }
  
  #scale-slider .ui-slider-handle:after {
    content: "";
    border: 6px solid transparent;
    width: 0;
    height: 0;
    position: absolute;
    bottom: -11px;
    border-top-color: #000000; }
  
  #scale-slider .ui-slider-handle.ui-slider-handle.ui-state-focus:after,
  #scale-slider .ui-slider-handle.ui-slider-handle.ui-state-hover:after,
  #scale-slider .ui-slider-handle.ui-slider-handle.ui-state-active:after {
    border-top-color: #000000; }
                    
#scale-slider .ui-slider-pip {
  top: 2px; }
  
  #scale-slider .ui-slider-pip .ui-slider-label {
    display: block;
    font-size:10px;
    background: rgba(67, 77, 90, 0);
    color: #000000;
    border-radius: 4px;
    padding: 0.3em 0;
    width: 2.4em;
    margin-left: -1.2em;
    transition: all 0.2s ease-out; }
  
  #scale-slider .ui-slider-pip .ui-slider-line {
    height: 4px; }
  
  #scale-slider .ui-slider-pip:nth-of-type(1n+3) .ui-slider-line {
    height: 8px; }
  
  #scale-slider .ui-slider-pip:nth-of-type(1n+3) .ui-slider-line {
    height: 12px; }
  
  #scale-slider .ui-slider-pip:nth-of-type(1n+3) .ui-slider-label {
    top: 16px;
    display: block; }
  
  #scale-slider .ui-slider-pip.ui-slider-pip-last .ui-slider-line {
    margin-left: -1px; }
  
  #scale-slider .ui-slider-pip.ui-slider-pip-selected .ui-slider-label, 
  #scale-slider .ui-slider-pip.ui-slider-pip-selected-first .ui-slider-label, 
  #scale-slider .ui-slider-pip.ui-slider-pip-selected-second .ui-slider-label {
    background: rgba(67, 77, 90, 0.7);
    color: #000000; }
