<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
</head>
<body>

	<div th:fragment="evento-page">
<div class="container">

		<h3 class="page-header" align="center">Eventos</h3>

		
		<div id="evento"></div>
		

		<!-- Table -->
		<div class="table-responsive">
			<table class="table table-hover">
				<thead>
					<tr>
						<th>Publicacion</th>
						<th>Interacciones</th>
						<th>Fecha</th>
						<th>Vinculo</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Evento 1</td>
						<td>55</td>
						<td>11/06/2017</td>
						<td>link</td>
					</tr>
					<tr>
						<td>Evento 2</td>
						<td>55</td>
						<td>11/06/2017</td>
						<td>link</td>
					</tr>
					<tr>
						<td>Evento 3</td>
						<td>55</td>
						<td>11/06/2017</td>
						<td>link</td>
					</tr>
					
				</tbody>
			</table>
			<!-- /.table-responsive -->
		</div>

</div>

	</div>

</body>
</html>