<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{view.index.title}">Welcome!</title>
    <!-- Bootstrap Core CSS -->
<link
	href="../../../resources/plugin/vendor/bootstrap/css/bootstrap.min.css"
	th:href="@{resources/plugin/vendor/bootstrap/css/bootstrap.min.css}"
	rel="stylesheet">

<!-- MetisMenu CSS -->
<link
	href="../../../resources/plugin/vendor/metisMenu/metisMenu.min.css"
	th:href="@{resources/plugin/vendor/metisMenu/metisMenu.min.css}"
	rel="stylesheet">

<!-- Menu Css -->
<link href="../../../resources/css/menu.css" rel="stylesheet"
	media="screen" th:href="@{/resources/css/menu.css}" />
	
	<!-- Efects counts Css -->
<link href="../../../resources/css/effects.css" rel="stylesheet"
	media="screen" th:href="@{/resources/css/effects.css}" />


<!-- Custom CSS -->
<link href="../../../resources/plugin/dist/css/sb-admin-2.css"
	th:href="@{resources/plugin/dist/css/sb-admin-2.css}" rel="stylesheet">

<!-- Morris Charts CSS -->
<link href="../../../resources/plugin/vendor/morrisjs/morris.css"
	th:href="@{resources/plugin/vendor/morrisjs/morris.css}"
	rel="stylesheet">

<!-- Custom Fonts -->
<link
	href="../../../resources/plugin/vendor/font-awesome/css/font-awesome.min.css"
	th:href="@{resources/plugin/vendor/font-awesome/css/font-awesome.min.css}"
	rel="stylesheet" type="text/css">
	
	<!-- Slider -->
	
<link href="../../../resources/css/jquery-ui.css" rel="stylesheet"
	media="screen" th:href="@{/resources/css/jquery-ui.css}" />	

	
<link href="../../../resources/css/jquery-ui-slider-pips.css" rel="stylesheet"
	media="screen" th:href="@{/resources/css/jquery-ui-slider-pips.css}" />	

	
	

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>
<div th:replace="fragments/layout :: header"></div>
<div th:replace="fragments/layout :: menu"></div>

<div id="page-wrapper">
		<div class="row">
			<div th:replace="fragments/layout :: counts"></div>
		</div>
            <div class="row">
                <div class="col-lg-12">
                
                    <h1 class="page-header">Publicaciones</h1>
                    
                    <!-- /. column -->
                </div>
                <!-- /. row -->
            </div>
            
            <div class="row">
			 <div class="col-lg-12">
			
			
			
			
			 
			 <!-- panel   -->
			 	<div class="tabs-below panel-body">
			 	
			 		 <div class="tab-content">
         				<div class="tab-pane fade in active" id="relevant-tab">
         					<div th:insert="publications/relevant :: relevant-page"></div>
         				</div>
         				<div class="tab-pane fade" id="reactions-tab">
         					<div th:insert="publications/reactions :: reactions-page"></div>
         				</div>
         				<div class="tab-pane fade" id="sentiment-tab">
         					<div th:insert="publications/sentiment :: sentiment-page"></div>
         				</div>
         				<div class="tab-pane fade" id="video-tab">
         					<div th:insert="publications/video :: video-page"></div>
         				</div>
         				<div class="tab-pane fade" id="evento-tab">
         					<div th:insert="publications/evento :: evento-page"></div>
         				</div>
        			</div>
        			
        			<ul class="nav nav-tabs">
          				<li>
          					<a href="#relevant-tab" data-toggle="tab" >
          						<span style="color: black;" class="fa fa-list-alt fa-3x"></span>
          						<span style="color: black;" class="fa fa-star fa-2x"></span>
          						<span style="color: black;" class="fa fa-star-o fa-2x"></span>
          						
          					</a>
          				</li>
          				<li>
          					<a href="#reactions-tab" data-toggle="tab">
          						<span style="color: black;" class="fa fa-list-alt fa-3x"></span>
          						<span style="color: black;" class="fa fa-smile-o fa-2x"></span>
          						<span style="color: black;" class="fa fa-frown-o fa-2x"></span>
          					</a>
          				</li>
          				<li><a href="#sentiment-tab" data-toggle="tab">
          						<span style="color: black;" class="fa fa-list-alt fa-3x"></span>
          						<span style="color: black;" class="fa fa-thumbs-o-up fa-2x"></span>
          						<span style="color: black;" class="fa fa-thumbs-o-down fa-2x"></span>
          					</a>
          				</li>
          				<li><a href="#video-tab" data-toggle="tab">
          						<span style="color: black;" class="fa fa-film fa-3x"></span>
          						<span style="color: black;" class="fa fa-star fa-2x"></span>
          						<span style="color: black;" class="fa fa-star-o fa-2x"></span>
          					</a>
          				</li>
          				<li><a href="#evento-tab" data-toggle="tab">
          						<span style="color: black;" class="fa fa-calendar fa-3x"></span>
          						<span style="color: black;" class="fa fa-star fa-2x"></span>
          						<span style="color: black;" class="fa fa-star-o fa-2x"></span>
          					</a>
          				</li>
        			</ul>
        			
        			
      			</div>
			 
			 <!-- /. column -->
			 </div>
			  <!-- /. row -->
			</div> 
            
            
    </div>
	
<div th:replace="fragments/layout :: footer"></div>

<!-- jQuery  -->

	<script
		src="resources/plugin/vendor/jquery/jquery.min.js"
		th:href="@{/resources/plugin/vendor/jquery/jquery.min.js}"></script>

	<!-- Bootstrap Core JavaScript -->
	<script 
		src="resources/plugin/vendor/bootstrap/js/bootstrap.min.js"
		th:href="@{/resources/plugin/vendor/bootstrap/js/bootstrap.min.js}"></script>

	<!-- Metis Menu Plugin JavaScript -->
	<script
		src="resources/plugin/vendor/metisMenu/metisMenu.min.js"
		th:href="@{/resources/plugin/vendor/metisMenu/metisMenu.min.js}"></script>

	<!-- Morris Charts JavaScript -->
	<script
		src="resources/plugin/vendor/raphael/raphael.min.js"
		th:href="@{/resources/plugin/vendor/raphael/raphael.min.js}"></script>
	<script
		src="resources/plugin/vendor/morrisjs/morris.min.js"
		th:href="@{/resources/plugin/vendor/morrisjs/morris.min.js}"></script>
	<script
		src="resources/plugin/data/morris-data.js"
		th:href="@{/resources/plugin/data/morris-data.js}"></script>
	
	<!-- Custom Theme JavaScript -->
	<script
		src="resources/plugin/dist/js/sb-admin-2.js"
		th:href="@{/resources/plugin/dist/js/sb-admin-2.js}"></script>
	
	
<!-- slider js --> 
	
	<script
		src="resources/js/jquery-ui.js"
		th:href="@{/resources/js/jquery-ui.js}"></script>

	<script
		src="resources/js/jquery-ui-slider-pips.js"
		th:href="@{/resources/js/jquery-ui-slider-pips.js}"></script>	
	
	 
	
	<!-- effects panel -->
	<script src="resources/js/effects.js"
		th:href="@{/resources/js/effects.js}"></script>	
	
	<!-- data demo - graphic  -->
	<script
		src="resources/plugin/data/publications-data.js"
		th:href="@{/resources/plugin/data/publications-data.js}"></script>	
	
</body>
</html>