<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{view.index.title}">Welcome!</title>
    <!-- Bootstrap Core CSS -->

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>
<div th:replace="fragments/layout :: header"></div>
<div th:replace="fragments/layout :: menu"></div>

<div id="page-wrapper" class="gray-bg sidebar-content" >
		
		<div th:replace="fragments/layout :: title (title_page= #{publications.publications})"></div>
		<div th:replace="fragments/layout :: counts"></div>
		
            <div class="row">
                <div class="col-lg-12">
                
                    <h3 class="page-header">Publicaciones</h3>
                    
                    <!-- /. column -->
                </div>
                <!-- /. row -->
            </div>
            
            <div class="row">
			 <div class="col-lg-12">
			
			
			
			
			 
			 <!-- panel   -->
			 	<div class="tabs-below panel-body">
			 	
			 		 <div class="tab-content">
         				<div class="tab-pane fade in active" id="relevant-tab">
         					<div th:insert="publications/relevant :: relevant-page"></div>
         				</div>
         				<div class="tab-pane fade" id="reactions-tab">
         					<div th:insert="publications/reactions :: reactions-page"></div>
         				</div>
         				<div class="tab-pane fade" id="sentiment-tab">
         					<div th:insert="publications/sentiment :: sentiment-page"></div>
         				</div>
         				<div class="tab-pane fade" id="video-tab">
         					<div th:insert="publications/video :: video-page"></div>
         				</div>
         				<div class="tab-pane fade" id="evento-tab">
         					<div th:insert="publications/evento :: evento-page"></div>
         				</div>
        			</div>
        			
        			<ul class="nav nav-tabs">
          				<li>
          					<a href="#relevant-tab" data-toggle="tab" >
          						<span style="color: black;" class="fa fa-list-alt fa-2x"></span>
          						<span style="color: black;" class="fa fa-star fa-2x"></span>
          						<span style="color: black;" class="fa fa-star-o fa-2x"></span>
          						
          					</a>
          				</li>
          				<li>
          					<a href="#reactions-tab" data-toggle="tab">
          						<span style="color: black;" class="fa fa-list-alt fa-2x"></span>
          						<span style="color: black;" class="fa fa-smile-o fa-2x"></span>
          						<span style="color: black;" class="fa fa-frown-o fa-2x"></span>
          					</a>
          				</li>
          				<li><a href="#sentiment-tab" data-toggle="tab">
          						<span style="color: black;" class="fa fa-list-alt fa-2x"></span>
          						<span style="color: black;" class="fa fa-thumbs-o-up fa-2x"></span>
          						<span style="color: black;" class="fa fa-thumbs-o-down fa-2x"></span>
          					</a>
          				</li>
          				<li><a href="#video-tab" data-toggle="tab">
          						<span style="color: black;" class="fa fa-film fa-2x"></span>
          						<span style="color: black;" class="fa fa-star fa-2x"></span>
          						<span style="color: black;" class="fa fa-star-o fa-2x"></span>
          					</a>
          				</li>
          				<li><a href="#evento-tab" data-toggle="tab">
          						<span style="color: black;" class="fa fa-calendar fa-2x"></span>
          						<span style="color: black;" class="fa fa-star fa-2x"></span>
          						<span style="color: black;" class="fa fa-star-o fa-2x"></span>
          					</a>
          				</li>
        			</ul>
        			
        			
      			</div>
			 
			 <!-- /. column -->
			 </div>
			  <!-- /. row -->
			</div> 
            
            
    </div>
	
<div th:replace="fragments/layout :: footer"></div>

<!-- jQuery -->

<div th:replace="fragments/layout :: script-general"></div>
	
</body>
</html>