<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.min.css}"/>
	<link href="../../../resources/css/menu.css" rel="stylesheet" media="screen" th:href="@{/resources/css/menu.css}"/>
</head>
<body>

<!-- Header -->   
<div  th:fragment="header"  style="background-color: white;">
<div class="row">
	<div class="col-md-1 col-sm-1 col-xs-1" style="left: 100px;" >
		<br/>
		<select class="form-control" style="width: 55px;height: 20px; font-size: 10px;padding: 0px;"  >
 			<option>2017</option>
 		 	<option>2018</option>
		</select>
	</div>
	<div class="col-md-6 col-sm-6 col-xs-6" style="width: 80%; left: 50px;">
		<br/>
		<div id="scale-slider"></div>
	</div>
	<div class="col-md-1 col-sm-1 col-xs-1" >
		<br/>
    	<ul class="nav navbar-nav navbar-right" style="background-color: white;" >
                <li th:if="${#authorization.expression('!isAuthenticated()')}">
                    <a href="/signin" th:href="@{/signin}">
                        <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>&nbsp;Sign in
                    </a>
                </li>
                <li th:if="${#authorization.expression('isAuthenticated()')}">
                    <a href="/logout" th:href="@{#}" onclick="$('#form').submit();">
                    	<label  th:text="#{layout.logout}" style="color: black;" ></label>
                        <span class="glyphicon glyphicon-log-out" style="color: black;" aria-hidden="true"></span>
                    </a>
                    <form style="visibility: hidden" id="form" method="post" action="#" th:action="@{/logout}"></form>
                </li>
        </ul>
    </div>
</div>  
</div>

<!-- Menu -->
<nav class="navbar navbar-default sidebar" role="navigation" th:fragment="menu">
    <div class="container-fluid ">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-sidebar-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>      
    </div>
    <div class="collapse navbar-collapse" id="bs-sidebar-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li  th:classappend="${module == 'followers' ? 'active' : ''}" >
        	<a href="#" th:href="@{followers}">
        		<label th:text="#{menu.followers}"></label>
        		<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-user"></span>
        	</a>
        </li>
        <li th:classappend="${module == 'publications' ? 'active' : ''}" >
        	<a href="#" th:href="@{publications}" >
        		<label th:text="#{menu.publications}"></label>
        		<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-list-alt"></span>
        	</a>
        </li>        
        <li th:classappend="${module == 'benchmark' ? 'active' : ''}" >
        	<a href="#" th:href="@{benchmark}" >
        		<label th:text="#{menu.benchmark}"></label>
        		<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-list"></span>
        	</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- Counts and social media -->
<div  th:fragment="counts">

<div class="dropdown kebab-dropdown dropdown-sm" id="dropdown1">
				<div class="dropdown-menu dropdown-menu-right">
					<a class="dropdown-item" href="#"> <img
						src="resources/images/generic-friend.png" class="kebab-user-image">
						<label class="kebab-user-text">Cuenta de usuario N</label>
					</a>
					<hr>
					<a class="dropdown-item" href="#"> <img
						src="resources/images/twitter-logo.png" class="kebab-user-image">
						<label class="kebab-user-text">Twitter</label>
					</a>
				</div>
			</div>
			
			<div class="col-md-1 col-sm-1 col-xs-1" style="width: 2px;">
				<a class="kebab-link" data-toggle="dropdown"
					data-target="#dropdown1"><i class="fa fa-ellipsis-v"></i></a>

			</div>

			<div class="col-md-1 col-sm-1 col-xs-1" style="width: 65px;left: 0px;">
				<div class="panel-user">
					<div>
						<span class="pull-right clickable" data-effect="fadeOut"><i
							class="fa fa-times fa-times-user"></i></span> <img
							src="resources/images/facebook-logo.png"
							style="width: 30px; height: 40px;">
					</div>
				</div>
			</div>

			<div class="col-md-1 col-sm-1 col-xs-1" >
				<div class="panel-user">
					<div>
						<span class="pull-right clickable" data-effect="fadeOut"><i
							class="fa fa-times fa-times-user"></i></span> <img
							src="resources/images/generic-friend.png"
							class="panel-user-image"> <label class="panel-user-text">Cuenta
							de usuario 1</label>
					</div>
				</div>
			</div>
			<div class="col-md-1 col-sm-1 col-xs-1" >
				<div class="panel-user">
					<div>
						<span class="pull-right clickable" data-effect="fadeOut"><i
							class="fa fa-times fa-times-user"></i></span> <img
							src="resources/images/generic-friend.png"
							class="panel-user-image"> <label class="panel-user-text">Cuenta
							de usuario 2</label>
					</div>
				</div>
			</div>
			<div class="col-md-1 col-sm-1 col-xs-1" >
				<div class="panel-user">
					<div>
						<span class="pull-right clickable" data-effect="fadeOut"><i
							class="fa fa-times fa-times-user"></i></span> <img
							src="resources/images/generic-friend.png"
							class="panel-user-image"> <label class="panel-user-text">Cuenta
							de usuario 3</label>
					</div>
				</div>
			</div>



</div>






<!-- Footer -->
<div th:fragment="footer" th:align="center" style="background-color: white;">
    &copy;&nbsp;<span th:text="${#temporals.format(#temporals.createNow(), 'yyyy')}">2017</span>
    DANAVIS 
</div>

</body>
</html>